1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [1]:
# % is the modulo operator, if a number is a multiple of 3 or 5
# the rest of the division by 3 or 5 must be 0. For multiple of 3 and
# 5 the rest of both division must be 0

for i in range(1,100+1):
    if i%3 == 0 and i%5 == 0:  
        print('HelloWorld')
    elif i%3 == 0:
        print('Hello')
    elif i%5 == 0:
        print('World')
    else:
        print(i)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World

In [2]:
# tuple are immutable. First we save all the values in a list and we make the substitutions
# then we convert the list into a tuple

number_list = []
for i in range(1,100+1):
    if i%3 == 0 and i%5 == 0:  
        number_list.append('HelloWorld')
    elif i%3 == 0:
        number_list.append('Hello')
    elif i%5 == 0:
        number_list.append('World')
    else:
        number_list.append(str(i))

for i in range(len(number_list)):
    if number_list[i] == 'Hello':
        number_list[i] = 'Python'
    if number_list[i] == 'World':
        number_list[i] = 'Works'
    if number_list[i] == 'HelloWorld':
        number_list[i] = 'PythonWorks'
number_tuple = tuple(number_list)

print('The final tuple is: \n%s' % (number_tuple,))

The final tuple is:
('1', '2', 'Python', '4', 'Works', 'Python', '7', '8', 'Python', 'Works', '11', 'Python', '13', '14', 'PythonWorks', '16', '17', 'Python', '19', 'Works', 'Python', '22', '23', 'Python', 'Works', '26', 'Python', '28', '29', 'PythonWorks', '31', '32', 'Python', '34', 'Works', 'Python', '37', '38', 'Python', 'Works', '41', 'Python', '43', '44', 'PythonWorks', '46', '47', 'Python', '49', 'Works', 'Python', '52', '53', 'Python', 'Works', '56', 'Python', '58', '59', 'PythonWorks', '61', '62', 'Python', '64', 'Works', 'Python', '67', '68', 'Python', 'Works', '71', 'Python', '73', '74', 'PythonWorks', '76', '77', 'Python', '79', 'Works', 'Python', '82', '83', 'Python', 'Works', '86', 'Python', '88', '89', 'PythonWorks', '91', '92', 'Python', '94', 'Works', 'Python', '97', '98', 'Python', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [3]:
def swap(var1, var2):
    temp = var1
    var1 = var2
    var2 = temp
    return var1, var2

var1, var2 = 10, 0.7
print('Original first value: %.1f, original second value: %.1f' % (var1, var2))

var1, var2 = swap(var1,var2)
print('Swapped first value: %.1f, swapped second value: %.1f' % (var1, var2))

Original first value: 10.0, original second value: 0.7
Swapped first value: 0.7, swapped second value: 10.0

In [4]:
def swap_without_temp(var1, var2):
    return var2, var1

var1, var2 = 'a', 'h'
print('Original first value: %s, original second value: %s' % (var1, var2))

var1, var2 = swap_without_temp(var1,var2)
print('Swapped first value: %s, swapped second value: %s' % (var1, var2))

Original first value: a, original second value: h
Swapped first value: h, swapped second value: a

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [5]:
def euclidean_dist(point1, point2):
    x = point1[0] - point2[0]
    y = point1[1] - point2[1]
    out_sum = x**2 + y**2
    return out_sum**(1/2)

u, v = (3,0), (0,4)
output = euclidean_dist(u,v)

print('The euclidean distance is %.2f ' % (output))

The euclidean distance is 5.00

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [6]:
# lower function avoids Python to differentiate between the lowercase and uppercase of same letter
# while replace change the space with no space
# in the first for we find all the character which appear at leas once in the sentence
# in the seond for, for each unique character, we count how many times it appears

s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

s = s.lower()  #lowering all the string
s = s.replace(' ','') #remove the white space
s = [x for x in s]
character = []     #list to store all the unique element 
occurrence = []    #list to insert the count of each element

for char in s:
    if char not in character:
        character.append(char)
        
for char in character:
    count = 0
    for j in range(len(s)):
        temp = s[j]
        if char == temp:
            count = count+1
    occurrence.append(count)
    
for i in range(len(character)):
    print('Character: %s, occurrence: %d' % (character[i],occurrence[i]))

Character: w, occurrence: 4
Character: r, occurrence: 19
Character: i, occurrence: 12
Character: t, occurrence: 19
Character: e, occurrence: 20
Character: a, occurrence: 7
Character: p, occurrence: 8
Character: o, occurrence: 15
Character: g, occurrence: 1
Character: m, occurrence: 8
Character: h, occurrence: 11
Character: n, occurrence: 10
Character: s, occurrence: 7
Character: u, occurrence: 7
Character: b, occurrence: 5
Character: f, occurrence: 10
Character: 1, occurrence: 2
Character: 0, occurrence: 2
Character: ., occurrence: 3
Character: l, occurrence: 12
Character: d, occurrence: 5
Character: v, occurrence: 2
Character: c, occurrence: 1

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [7]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]


def unique(list_num):
    number = []  #list to store all the unique number
    for i in range(len(list_num)):
        temp = list_num[i]
        if temp not in number:
            number.append(temp)
    return number

numbers = unique(l)
print('In the list there are %d unique number and they are: \n%s' % (len(numbers), numbers,))

In the list there are 54 unique number and they are:
[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [8]:
# sets do not support duplicates so all repeated number are not added to the same set

l_set = set(l)
print('In the list there are %d unique number and they are: \n%s' % (len(l_set), l_set,))

In the list there are 54 unique number and they are:
{1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [9]:
def square(num):
    return num**2
def cube(num):
    return num**3

def combination(num):
    return cube(square(num))

value = 4
output = combination(value)
print('The 6th power of %d is %d' % (value, output))

The 6th power of 4 is 4096

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [10]:
loop_list = []   
for i in range(10+1):  
    loop_list.append(i**3) 
print('The cubes of the values in the interval [0,10] are \n%s' % (loop_list))

The cubes of the values in the interval [0,10] are
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [11]:
comp_list = [i**3 for i in range(10+1)]
print('The cubes of the values in the interval [0,10] are \n%s' % (comp_list))

The cubes of the values in the interval [0,10] are
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [12]:
triplet = tuple([(a,b,c) for a in range(1,100) for b in range(1,100) for c in range(1,100) if a**2 + b**2 == c**2])

print('The Pythagorean triples are \n%s' % (triplet,))

The Pythagorean triples are
((3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (84, 13, 85), (84, 35, 91))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [13]:
tuple_vec = (1,5,2,8)

def scaled_sum1(vec):
    norm_vec = [x/sum(vec) for x in vec] # each element in the tuple is divided by the sum of all the element
    return tuple(norm_vec)

norm_tuple_vec = scaled_sum1(tuple_vec)
print('The tuple %s normalized to one is %s' %(tuple_vec, norm_tuple_vec ))
print('Sanity check: the normalized element sums to %.2f' % sum(norm_tuple_vec))

The tuple (1, 5, 2, 8) normalized to one is (0.0625, 0.3125, 0.125, 0.5)
Sanity check: the normalized element sums to 1.00