1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [28]:
# ex 1.a

for i in range(1,101): 
    if i%3==0 and i%5==0: 
        print("HelloWorld")
    elif i%3==0: 
        print("Hello")
    elif i%5==0: 
        print("World")
    else: 
        print(i)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World

In [29]:
# ex 1.b

mylist = tuple(["HelloWorld" if i%15==0 else "Hello" if i%3==0 else "World" if i%5==0 else i for i in range(1,101)])
print("Original tuple:\n" + str(mylist))
list(mylist)
mylist = tuple(["Python" if i=="Hello" else "Works" if i=="World" else i for i in mylist])
print("Modified tuple:\n" + str(mylist))

Original tuple:
(1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'HelloWorld', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'HelloWorld', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'HelloWorld', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'HelloWorld', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'HelloWorld', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'HelloWorld', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World')
Modified tuple:
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'HelloWorld', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'HelloWorld', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'HelloWorld', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'HelloWorld', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'HelloWorld', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'HelloWorld', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [30]:
# ex 2

x, y = 2, 3
def myswap() :
    """Swap function with local variables"""
    global x, y
    temp = x
    x = y
    y = temp
print("Original values: x=" + str(x) + ", y=" + str(y))
myswap()
print("Swapped values: x=" + str(x) + ", y=" + str(y))


w, z = 4, 5
def myswap2():
    """Swap function without local variables"""
    global w, z
    w, z = z, w
myswap2()
print("\nOriginal values: w=" + str(w) + ", z=" + str(z))
myswap2()
print("Swapped values: w=" + str(w) + ", z=" + str(z))

Original values: x=2, y=3
Swapped values: x=3, y=2

Original values: w=5, z=4
Swapped values: w=4, z=5

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [31]:
# ex 3

from math import sqrt 

u, v = (3,0), (0,4)

def distance(u, v):
    """Function to calculate the distance between two points u and v"""
    d = sqrt((u[1] - v[1])**2 + (u[0] - v[0])**2)
    return d
    
print("The distance between u and v is:", distance(u, v))

The distance between u and v is: 5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [32]:
# ex 4

s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

for i in set(s.lower()): 
    print(i, "->", s.lower().count(i))

t -> 19
e -> 20
1 -> 2
r -> 19
h -> 11
c -> 1
g -> 1
f -> 10
w -> 4
o -> 15
u -> 7
a -> 7
0 -> 2
v -> 2
i -> 12
. -> 3
n -> 10
m -> 8
s -> 7
d -> 5
l -> 12
  -> 41
b -> 5
p -> 8

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [33]:
# ex 5.a

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def myunique(l):
    """Function returning the number and the list of unique numbers"""
    unique=[]
    for i in set(l):
        counter = 0
        for j in l: 
            if j==i: 
                counter+=1
        if(counter==1): 
            unique.append(i)
    print("The unique numbers are: ", len(unique))
    print("The list of unique numbers is: ", unique)

myunique(l)

The unique numbers are:  37
The list of unique numbers is:  [1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99]

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [34]:
# ex 5.b

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def myunique(l):
    """Function returning the number and the list of unique numbers using Python data structures"""
    unique = [i for i in l if l.count(i)==1]
    unique.sort()
    print("The unique numbers are:", len(unique))
    print("The list of unique numbers is:", unique)

myunique(l)

The unique numbers are: 37
The list of unique numbers is: [1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [35]:
# ex 6

x = 2

def square(x):
    """Function returning the square of the input"""
    return x**2
def cube(x):
    """Function returning the cube of the input"""
    return x**3
def sixth(x):
    """Function returning the sixth power of the input"""
    return square(cube(x))

print("Number: {0} \nSquare: {1} \nCube: {2} \nSixth power: {3}".format(x, square(x), cube(x), sixth(x)))

Number: 2
Square: 4
Cube: 8
Sixth power: 64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [36]:
# ex 7.a

# using the function 'cube' decleared in the previous block of code
mycubes = []
for i in range (11):
    mycubes.append(cube(i))
print("Cubes of x for x in [0,10]:", mycubes)

Cubes of x for x in [0,10]: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [37]:
# ex 7.b

# using the function 'cube' decleared in the previous block of code
my_cubes = [cube(i) for i in range(11)] 
print("Cubes of x for x in [0,10]:", my_cubes)

Cubes of x for x in [0,10]: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [38]:
# ex 8

# permutated triples are considered equivalent, e.g. {(3,4,5), (4,3,5)} -> {(3,4,5)}
pytha = tuple([(a, b, c) for a in range(101) for b in range (a+1, 101) for c in range (b+1, 101) if a**2 + b**2 == c**2])
print(pytha)

((3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [39]:
# ex 9

vector = (1,2,3,4,5,6,7,8,9,10)

def norm(vector):
    k = sum(map(lambda x: x*x, vector))
    nvector = tuple([i/sqrt(k) for i in vector])
    return(nvector)

print("Original vector:", vector)
print("Normalized vector:", norm(vector))

Original vector: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Normalized vector: (0.050964719143762556, 0.10192943828752511, 0.15289415743128767, 0.20385887657505022, 0.2548235957188128, 0.30578831486257535, 0.3567530340063379, 0.40771775315010045, 0.458682472293863, 0.5096471914376256)