1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [1]:
for i in range(1,100):
    if (i%3==0) & (i%5==0):
        print("HelloWorld")
    elif (i%3==0):
        print("Hello")
    elif (i%5==0):
        print("World")
    else:
        print(i)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [12]:
def swap_fun(x,y):
    x , y = y , x
    return x,y

x=1.234
y="Python!"
print("x is: %2f and y is %s" % (x,y))
print( swap_fun(x,y))

x is: 1.234000 and y is Python!
('Python!', 1.234)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
def euclidean_fun(u,v):
    return pow(pow((u[0]-v[0]),2)+pow((u[1]-v[1]),2),0.5)
    
    
u=(3,0)
v=(0,4)
print("The euclidean distance of %s and %s is: %.2f" %(u,v,euclidean_fun(u,v)))

The euclidean distance of (3, 0) and (0, 4) is: 5.00

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [5]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

count={}
for ch in s.lower():
    if ch in count:
        count[ch]+=1
    else:
        count[ch]=1

print(count)

{'w': 4, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 11, 'n': 10, 's': 7, 'u': 7, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 3, 'l': 12, 'd': 5, 'v': 2, 'c': 1}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [6]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

#This function counts uniqe numbers, regardless of frquency of occurence
def unique_fun1(l):
    un=[]
    for n in l:
        if not (n in un):
            un.append(n)

    print("There are(is) %d unique number(s), regardless of frquency of occurence:\n %s \n\n" %(len(un),un))

    
#This function counts uniqe numbers that occur just one time
def unique_fun2(l):
    un=[]
    non_un=[]
    for n in l:
        if n in un:
            un.remove(n)
            non_un.append(n)
        else:
            un.append(n)

    print("There are(is) %d unique number(s), that occur just one time:\n %s" %(len(un),un))
    
    
    
 
unique_fun1(l)
unique_fun2(l)

There are(is) 54 unique number(s), regardless of frquency of occurence:
 [36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]


There are(is) 44 unique number(s), that occur just one time:
 [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 45, 30, 70, 85, 94, 5, 36, 72, 91, 87, 75, 53, 51, 20]

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [7]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]




def unique_fun(l):
    un=set(l)
    print("There are(is) %d unique number(s), regardless of frquency of occurence:\n %s" %(len(un),un))

    

unique_fun(l)

There are(is) 54 unique number(s), regardless of frquency of occurence:
 {1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [8]:
def sq_fun(n):
    return n*n

def qu_fun(n):
    return n*n*n

def sixth_power_fun(n):
    return qu_fun(sq_fun(n))


n=2
print(sixth_power_fun(n))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [9]:
cub_a=[]


for i in range(0,11):
    cub_a.append(pow(i,3))
    
cub_b=[pow(i,3) for i in range(0,11)]


print("a) cubes by loop: %s \n\n" %cub_a)
print("b) cubes by list comprehension: %s \n\n" %cub_b)

a) cubes by loop: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]


b) cubes by list comprehension: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [10]:
def pythagorean_fun(m):
    pytha_list=[]
    for a in range(1,m):
        for b in range(a,m):
            for c in range(b,m):
                if (pow(a,2)+pow(b,2)==pow(c,2)):
                    pytha_list.append((a,b,c))
    return pytha_list
                  
    
result=pythagorean_fun(100)
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [11]:
def normalized_fun(t):
    min_t = min(t)
    max_t = max(t)
    d = max_t - min_t
    norm = [((x - min_t)/d) for x in t]
    return norm


test = (1 , 2 , 3 , 4 , 0 , 8 , 7 , 6 )
print(normalized_fun(test))

[0.125, 0.25, 0.375, 0.5, 0.0, 1.0, 0.875, 0.75]