In [ ]:
'''
Sevval AZ
2041453
'''

1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

In [ ]:
def helloWorlReplacement():
    list=[]
    for i in range(1,101):
        if(i%3==0) & (i%5==0):     #or (i%15)
            r="HelloWorld"
        elif (i%3 ==0):
            r="Hello" 
        elif (i%5==0):
            r="World" 
        else:
            r=i
        list.append(r)       
    return list
            
helloWorld_list=helloWorlReplacement()
print(helloWorld_list)

[1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'HelloWorld', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'HelloWorld', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'HelloWorld', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'HelloWorld', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'HelloWorld', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'HelloWorld', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World']

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [ ]:
#helloWorld_tuple=tuple(helloWorld_list)
#tuples are immutable. If we want to update tuples, we can make update with the list.
for i in range(len(helloWorld_list)):
    if helloWorld_list[i]== "Hello":
        helloWorld_list[i] ="Python"
    elif helloWorld_list[i]== "World":
        helloWorld_list[i] ="Works"

helloWorld_tuple=tuple(helloWorld_list)
print(helloWorld_tuple)

(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'HelloWorld', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'HelloWorld', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'HelloWorld', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'HelloWorld', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'HelloWorld', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'HelloWorld', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [ ]:
def swap_function(x,y):
    x, y = y, x
    print("x =", x)
    print("y =", y)
    
swap_function(10,20)

x = 20
y = 10

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [ ]:
import numpy as np

def euclidean_function(u,v): 
    dist = np.sqrt((u[0]-v[0])**2 +(u[1]-v[1])**2 )
    return dist

euclidean_function((3,0),(0,4))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [ ]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

In [ ]:
def count_numbers(s):
    s=s.lower()
    ch_dict = {}    #create a dictionary
    for st in s:
      if st in ch_dict:
        ch_dict[st] += 1     #If the ch is in the dictionary, increase its number
      else:
        ch_dict[st] = 1      #the ch is not in the dictionary, add
        
    return ch_dict

count_numbers(s)


#this is for test
#from collections import Counter  
#res = Counter(s)
#res'''

{'w': 4,
 'r': 19,
 'i': 12,
 't': 19,
 'e': 20,
 ' ': 41,
 'a': 7,
 'p': 8,
 'o': 15,
 'g': 1,
 'm': 8,
 'h': 11,
 'n': 10,
 's': 7,
 'u': 7,
 'b': 5,
 'f': 10,
 '1': 2,
 '0': 2,
 '.': 3,
 'l': 12,
 'd': 5,
 'v': 2,
 'c': 1}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [ ]:
def number_of_count(l):
    for x in set(l):     #set for each unique character
        print ([x,l.count(x)])

number_of_count(l)

[1, 1]
[3, 2]
[5, 1]
[8, 1]
[9, 1]
[10, 1]
[16, 1]
[18, 1]
[19, 1]
[20, 3]
[24, 1]
[30, 1]
[31, 2]
[33, 1]
[34, 2]
[36, 3]
[37, 1]
[39, 1]
[41, 1]
[42, 2]
[45, 3]
[47, 1]
[50, 2]
[51, 3]
[53, 1]
[54, 1]
[55, 1]
[56, 2]
[57, 1]
[58, 1]
[63, 2]
[64, 1]
[66, 2]
[70, 3]
[72, 1]
[74, 1]
[75, 1]
[79, 1]
[81, 1]
[82, 1]
[84, 4]
[85, 3]
[86, 1]
[87, 1]
[88, 1]
[89, 2]
[90, 1]
[91, 3]
[92, 1]
[94, 1]
[95, 1]
[96, 1]
[98, 1]
[99, 1]

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [ ]:
from collections import Counter  
res = Counter(l)
res

Counter({36: 3,
         45: 3,
         58: 1,
         3: 2,
         74: 1,
         96: 1,
         64: 1,
         31: 2,
         10: 1,
         24: 1,
         19: 1,
         33: 1,
         86: 1,
         99: 1,
         18: 1,
         63: 2,
         70: 3,
         85: 3,
         47: 1,
         56: 2,
         42: 2,
         84: 4,
         88: 1,
         55: 1,
         20: 3,
         54: 1,
         8: 1,
         51: 3,
         79: 1,
         81: 1,
         57: 1,
         37: 1,
         91: 3,
         1: 1,
         66: 2,
         9: 1,
         89: 2,
         50: 2,
         95: 1,
         90: 1,
         98: 1,
         39: 1,
         16: 1,
         82: 1,
         92: 1,
         41: 1,
         30: 1,
         34: 2,
         94: 1,
         5: 1,
         72: 1,
         87: 1,
         75: 1,
         53: 1})

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [ ]:
def square(num):
    return  (num*num)

def cube(num):
    return  (num*num*num) 
 
def raised_func(num):
  return (square(num)*cube(num)*num)

raised_func(2)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [ ]:
l=[]
for i in range(1,11):
    l.append(i**3)

print(l)

k=[i**3 for i in range(1,11)]

print(k)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [ ]:
from math import gcd

def genTriples(k):
    n,m = 1,2
    while m*m+1<k:                  
        if n>=m: n,m = m%2,m+1      # n reached m, advance m, reset n
        z = m*m+n*n                  
        if z >= k: n=m;continue     
        if gcd(n,m) == 1:           
            yield m*m-n*n,2*m*n,z   
        n += 2  
        
        
for x,y,z in genTriples(100): 
    print(x,y,z)

3 4 5
5 12 13
15 8 17
7 24 25
21 20 29
9 40 41
35 12 37
11 60 61
45 28 53
33 56 65
13 84 85
63 16 65
55 48 73
39 80 89
77 36 85
65 72 97

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [ ]:
import numpy as np
import random

def normalize_list(list):
    max_value = max(list)
    min_value = min(list)
    for i in range(0, len(list)):
        list[i] = (list[i] - min_value) / (max_value - min_value)
    return list
    


randomlist = random.sample(range(10, 30), 5)    #Generate 5 random numbers between 10 and 30
print("Data = ", randomlist)

n_randomlist=normalize_list(randomlist)
print("Normalized Data = ", n_randomlist)

Data =  [28, 10, 29, 15, 26]
Normalized Data =  [0.9473684210526315, 0.0, 1.0, 0.2631578947368421, 0.8421052631578947]