1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [1]:
# a.

lim = 100
out_str = '' # the string to print out

for i in range (1, lim + 1):
    if not (i % 3 == 0) and not (i % 5 == 0):
        out_str += str(i)
    if i % 3 == 0: out_str += 'Hello'
    if i % 5 == 0: out_str += 'World'
    out_str += ', '
    
print(out_str)
print()

# b.

# convert the output string into a tuple of strings
out_tuple = tuple(out_str.split(', '))
print(out_tuple)

out = []
for s in out_tuple:
    s = s.replace('Hello', 'Python')
    s = s.replace('World', 'Works')
    out.append(s)

# output the new string
print(', '.join(out))

1, 2, Hello, 4, World, Hello, 7, 8, Hello, World, 11, Hello, 13, 14, HelloWorld, 16, 17, Hello, 19, World, Hello, 22, 23, Hello, World, 26, Hello, 28, 29, HelloWorld, 31, 32, Hello, 34, World, Hello, 37, 38, Hello, World, 41, Hello, 43, 44, HelloWorld, 46, 47, Hello, 49, World, Hello, 52, 53, Hello, World, 56, Hello, 58, 59, HelloWorld, 61, 62, Hello, 64, World, Hello, 67, 68, Hello, World, 71, Hello, 73, 74, HelloWorld, 76, 77, Hello, 79, World, Hello, 82, 83, Hello, World, 86, Hello, 88, 89, HelloWorld, 91, 92, Hello, 94, World, Hello, 97, 98, Hello, World,

('1', '2', 'Hello', '4', 'World', 'Hello', '7', '8', 'Hello', 'World', '11', 'Hello', '13', '14', 'HelloWorld', '16', '17', 'Hello', '19', 'World', 'Hello', '22', '23', 'Hello', 'World', '26', 'Hello', '28', '29', 'HelloWorld', '31', '32', 'Hello', '34', 'World', 'Hello', '37', '38', 'Hello', 'World', '41', 'Hello', '43', '44', 'HelloWorld', '46', '47', 'Hello', '49', 'World', 'Hello', '52', '53', 'Hello', 'World', '56', 'Hello', '58', '59', 'HelloWorld', '61', '62', 'Hello', '64', 'World', 'Hello', '67', '68', 'Hello', 'World', '71', 'Hello', '73', '74', 'HelloWorld', '76', '77', 'Hello', '79', 'World', 'Hello', '82', '83', 'Hello', 'World', '86', 'Hello', '88', '89', 'HelloWorld', '91', '92', 'Hello', '94', 'World', 'Hello', '97', '98', 'Hello', 'World', '')
1, 2, Python, 4, Works, Python, 7, 8, Python, Works, 11, Python, 13, 14, PythonWorks, 16, 17, Python, 19, Works, Python, 22, 23, Python, Works, 26, Python, 28, 29, PythonWorks, 31, 32, Python, 34, Works, Python, 37, 38, Python, Works, 41, Python, 43, 44, PythonWorks, 46, 47, Python, 49, Works, Python, 52, 53, Python, Works, 56, Python, 58, 59, PythonWorks, 61, 62, Python, 64, Works, Python, 67, 68, Python, Works, 71, Python, 73, 74, PythonWorks, 76, 77, Python, 79, Works, Python, 82, 83, Python, Works, 86, Python, 88, 89, PythonWorks, 91, 92, Python, 94, Works, Python, 97, 98, Python, Works,

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
def swap(x, y):
    tmp = x
    x = y
    y = tmp
    return x, y

def swap2(x, y):
    return y, x

x = 5
y = 10
print(swap(x, y))
print(swap2(x, y))

(10, 5)
(10, 5)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
# computes the Euclidean distance between two n-dimensional points
def distance(u: tuple, v: tuple):
    dist = 0
    for i in range(len(u)):
        dist += (u[i] - v[i])**2
    return dist**.5

u = (3, 0)
v = (0, 4)
print(distance(u, v))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [4]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

In [5]:
letters_freq = {} # dictionary w/ key = letter and value = # occurences

for c in s.lower():
    letters_freq.setdefault(c, 0)
    letters_freq[c] += 1

for char, count in letters_freq.items():
    print(char, ':', count)

w : 4
r : 19
i : 12
t : 19
e : 20
  : 41
a : 7
p : 8
o : 15
g : 1
m : 8
h : 11
n : 10
s : 7
u : 7
b : 5
f : 10
1 : 2
0 : 2
. : 3
l : 12
d : 5
v : 2
c : 1

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [6]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [7]:
def unique(l: list):
    
    l.sort()
    unique = []
    
    i = 0
    while i < len(l):
        unique.append(l[i])
        j = i + 1
        while j < len(l) and l[j] == l[i]:
            j += 1
        i = j
    
    return unique, len(unique)

unique, count = unique(l)
print(f'There are {count} unique numbers: {unique}')

There are 54 unique numbers: [1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99]

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [8]:
unique = list(set(l))
print(f'There are {len(unique)} unique numbers: {unique}')

There are 54 unique numbers: [1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [9]:
def square(a):
    return a**2

def cube(a):
    return a**3

def sixth_power(a):
    return cube(square(a))

x = 2
print(sixth_power(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [10]:
# a. for loop
cubes = []
for n in range(11):
    cubes.append(cube(n))
print(cubes)

# b. list comprehension
cubes = [cube(n) for n in range(11)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [11]:
lim = 100

# for loop
#pytha_triples = []
#for a in range(1,lim+1):
#    for b in range(b,lim+1):
#        for c in range(1,lim+1):
#            if a**2 + b**2 == c**2:
#                pytha_triples.append((a,b,c))
#print(pytha_triples)

# nested list comprehension
pytha_triples = [(a,b,c) for a in range(1,lim+1) for b in range(a,lim+1) for c in range(1,lim+1) if a**2 + b**2 == c**2]
print(pytha_triples)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [12]:
numbers = (1, 2, 2, 4)

def normalize_max(numbers: tuple):
    return tuple([n / max(numbers) for n in numbers])

def normalize_norm(numbers: tuple):
    norm = sum([n**2 for n in numbers])**.5
    return tuple([n / norm for n in numbers])

print(normalize_max(numbers))
print(normalize_norm(numbers))

(0.25, 0.5, 0.5, 1.0)
(0.2, 0.4, 0.4, 0.8)