1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [63]:
for i in range(1,101):
    if ((i%5)==0 and (i%3)==0):
        a="HelloWorld"
    elif (i%5 == 0):
        a = ("World" , "Works")
    elif (i%3 ==0):
        a = ("Hello","Python")
    else:
        a=i
    print(a)

1
2
('Hello', 'Python')
4
('World', 'Works')
('Hello', 'Python')
7
8
('Hello', 'Python')
('World', 'Works')
11
('Hello', 'Python')
13
14
HelloWorld
16
17
('Hello', 'Python')
19
('World', 'Works')
('Hello', 'Python')
22
23
('Hello', 'Python')
('World', 'Works')
26
('Hello', 'Python')
28
29
HelloWorld
31
32
('Hello', 'Python')
34
('World', 'Works')
('Hello', 'Python')
37
38
('Hello', 'Python')
('World', 'Works')
41
('Hello', 'Python')
43
44
HelloWorld
46
47
('Hello', 'Python')
49
('World', 'Works')
('Hello', 'Python')
52
53
('Hello', 'Python')
('World', 'Works')
56
('Hello', 'Python')
58
59
HelloWorld
61
62
('Hello', 'Python')
64
('World', 'Works')
('Hello', 'Python')
67
68
('Hello', 'Python')
('World', 'Works')
71
('Hello', 'Python')
73
74
HelloWorld
76
77
('Hello', 'Python')
79
('World', 'Works')
('Hello', 'Python')
82
83
('Hello', 'Python')
('World', 'Works')
86
('Hello', 'Python')
88
89
HelloWorld
91
92
('Hello', 'Python')
94
('World', 'Works')
('Hello', 'Python')
97
98
('Hello', 'Python')
('World', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [66]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s = s.lower()
Allcharacters = [x for x in s]
characters = set(Allcharacters)
for x in characters:
    j=0;
    for y in Allcharacters:
        if x == y:
            j+=1;
    print(x," , ",j)

o  ,  15
n  ,  10
s  ,  7
r  ,  19
h  ,  11
0  ,  2
m  ,  8
w  ,  4
u  ,  7
g  ,  1
i  ,  12
f  ,  10
v  ,  2
e  ,  20
c  ,  1
b  ,  5
l  ,  12
.  ,  3
t  ,  19
   ,  41
1  ,  2
a  ,  7
d  ,  5
p  ,  8

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [68]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
unique = set(l)
for x in unique:
    j=0;
    for y in l:
        if x==y:
            j+=1;
    if j==1:
        print(x)

1
5
8
9
10
16
18
19
24
30
33
37
39
41
47
53
54
55
57
58
64
72
74
75
79
81
82
86
87
88
90
92
94
95
96
98
99

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [70]:
for x in l:
    if l.count(x)==1:
        print(x)

58
74
96
64
10
24
19
33
86
99
18
47
88
55
54
8
79
81
57
37
1
9
95
90
98
39
16
82
92
41
30
94
5
72
87
75
53

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [71]:
def square(a): return a**2
def cube(a): return a**3
def sixthPow(a): return cube(square(a))

print(sixthPow(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [72]:
l=[]
for i in range (0,11):
    l.append(i**3)
print(l)

list = [i**3 for i in range(0,11)]
print(list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [73]:
l= [(2*i**2+1, 2*i**2+2*i, 2*i**2+2*i+1) for i in range (1,7)]
k= [(i**2-1, 2*i, i**2+1) for i in range (3,10)]
print(l + k)

[(3, 4, 5), (9, 12, 13), (19, 24, 25), (33, 40, 41), (51, 60, 61), (73, 84, 85), (8, 6, 10), (15, 8, 17), (24, 10, 26), (35, 12, 37), (48, 14, 50), (63, 16, 65), (80, 18, 82)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [74]:
x=(5,9)
print ( (max(x)-min(x))/(max(x)+min(x)))

0.2857142857142857