1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [3]:
for i in range(1,100+1):
    print(i)
    if i%3 == 0 and i%5 != 0:
        result3 = "Hello"
        print(result3)
    if i%5 == 0 and i%3 != 0:
        result5 = "World"
        print(result5)
    if (i%3 == 0) and (i%5 == 0):
        print(result3+result5)

result3 = "Python"
result5 = "Works"
a = (result3, result5)
print(a[0]+a[1])

1
2
3
Hello
4
5
World
6
Hello
7
8
9
Hello
10
World
11
12
Hello
13
14
15
HelloWorld
16
17
18
Hello
19
20
World
21
Hello
22
23
24
Hello
25
World
26
27
Hello
28
29
30
HelloWorld
31
32
33
Hello
34
35
World
36
Hello
37
38
39
Hello
40
World
41
42
Hello
43
44
45
HelloWorld
46
47
48
Hello
49
50
World
51
Hello
52
53
54
Hello
55
World
56
57
Hello
58
59
60
HelloWorld
61
62
63
Hello
64
65
World
66
Hello
67
68
69
Hello
70
World
71
72
Hello
73
74
75
HelloWorld
76
77
78
Hello
79
80
World
81
Hello
82
83
84
Hello
85
World
86
87
Hello
88
89
90
HelloWorld
91
92
93
Hello
94
95
World
96
Hello
97
98
99
Hello
100
World
PythonWorks

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [113]:
def swapfunction(x, y):
	temp = x
	x = y
	y = temp
	return x, y

x=3; y=2

print("Initial values: %.0f, %.0f" % (x,y))
print("After swapping: %.0f, %.0f" % swapfunction(x,y))
print("\n")

def swapwithouttemp(x,y):
	return (y,x)

print("Initial values: %.0f, %.0f" % (x,y))
print("After swapping w/o temp. variable: %.0f, %.0f" % swapwithouttemp(x,y))

Initial values: 3, 2
After swapping: 2, 3


Initial values: 3, 2
After swapping w/o temp. variable: 2, 3

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [114]:
import numpy as np
u = (3,0)
v = (0,4)

def euclideandistance(x, y):
	d = np.sqrt((y[1]-x[1])**2+(y[0]-x[0])**2)
	return d

print("Distance between (%.0f, %.0f) and (%.0f, %.0f) = %.1f" % (u[0], u[1],v[0], v[1], euclideandistance(u,v)))

Distance between (3, 0) and (0, 4) = 5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [115]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

In [116]:
letter_to_search = "b" 
counter = 0
for i in s:
	if i==letter_to_search.upper() or i==letter_to_search.lower(): # dont distinguish between caps 
		counter += 1

print("The letter %s appears %i times." % (letter_to_search, counter))

The letter b appears 5 times.

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [5]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [6]:
def counter(l):
	unique = []
	seen = []
	for i in l:
		if i not in unique and i not in seen:
			unique.append(i)
			seen.append(i)
		elif i in unique:
			unique.remove(i)
	return unique
	
print("There are %i unique number(s) and it(they) is(are):" % len(counter(l)))
print(counter(l))

There are 37 unique number(s) and it(they) is(are):
[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [18]:
dic = {'notRepeated' : [], 'repeated' : []}
for i in l:
    if i not in dic['notRepeated'] and i not in dic['repeated']:
        dic['notRepeated'].append(i)
    elif i in dic['notRepeated']:
        dic['notRepeated'].remove(i)
        dic['repeated'].append(i)

print("There are %i unique number(s) and it(they) is(are):" % len(dic['notRepeated']))
print(dic['notRepeated'])

There are 37 unique number(s) and it(they) is(are):
[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [52]:
def square(x):
    return x*x
def cube(x):
    return x*x*x
def sixth(x):
    return (x*square(x)*cube(x))

print(sixth(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [51]:
# with for loop
cubes = []
for i in range(11):
    cubes.append(i**3)
print(cubes)

# with list comprehension
cubes = [i**3 for i in range(11)] 
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [98]:
a = [(i, j, k) for k in range(1, 100) for i in range(1, 100) for j in range(1, 100) if i**2+j**2 == k**2]
l = []
third = []

# eliminate repeated elements
for el in a:
    if el[2] not in third:
        third.append(el[2])
        l.append(el)
l = tuple(l)
print(l)

((3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45), (14, 48, 50), (24, 45, 51), (20, 48, 52), (28, 45, 53), (33, 44, 55), (40, 42, 58), (36, 48, 60), (11, 60, 61), (16, 63, 65), (32, 60, 68), (42, 56, 70), (48, 55, 73), (24, 70, 74), (21, 72, 75), (30, 72, 78), (48, 64, 80), (18, 80, 82), (13, 84, 85), (60, 63, 87), (39, 80, 89), (54, 72, 90), (35, 84, 91), (57, 76, 95), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [19]:
a = (1, 2, 1, 3)

a = [a[i]/sum(a) for i in range(len(a))]
print(a)

[0.14285714285714285, 0.2857142857142857, 0.14285714285714285, 0.42857142857142855]