1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [23]:
# a) 

for i in range(1,101):
    if i % 3 == 0 and i % 5 != 0:
        print('Hello')
    elif i % 3 != 0 and i % 5 == 0:
        print('World')
    elif i % 3 == 0 and i % 5 == 0:
        print('HelloWorld')
    else :
        print(i)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World

In [10]:
# b)
# list is defined
b_list = list()

# Solution of first part for using here again while appending the list

for i in range(1,101):
    if i % 3 == 0 and i % 5 != 0:
        b_list.append('Hello')
    elif i % 3 != 0 and i % 5 == 0:
        b_list.append('World')
    elif i % 3 == 0 and i % 5 == 0:
        b_list.append('HelloWorld')
    else :
        b_list.append(i)
        
# converting the list to the tuple

b_tuple=tuple(i for i in b_list)
b_tuple=print(b_tuple, '\n')

# replacing the words in the list 
# since Tuples are immutable I used list again

c_list = b_list
for i in range(len(b_list)):
    if b_list[i] == 'Hello':
        c_list[i] = 'Python'
    elif b_list[i] == 'World':
        c_list[i] = 'Works'
    elif b_list[i] == 'HelloWorld':
        c_list[i] = 'PythonWorks'
    else:
        c_list[i] = b_list[i] 

# converting C_list to tuple with new Words

print('The Final result for the second part of the Question is Below!\n')

c_tuple=tuple(i for i in c_list)
c_tuple=print(c_tuple)

(1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'HelloWorld', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'HelloWorld', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'HelloWorld', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'HelloWorld', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'HelloWorld', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'HelloWorld', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World')

The Final result for the second part of the Question is Below!

(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [25]:
# with temp

x=input('enter x : ')
y=input('enter y : ')

temp=x
x=y
y=temp

print('x = ', x)
print('y = ', y)

enter x :  Sun
enter y :  Moon

x =  Moon
y =  Sun

In [24]:
# without temp

x=input('enter x :')
y=input('enter y :')

x,y=y,x

print('x = ', x)
print('y = ', y)

enter x : 1
enter y : Earth

x =  Earth
y =  1

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [22]:
# getting  the points coordinates from the user

u1=int(input('Enter the first coordinate of u :'))
u2=int(input('Enter the second coordinate of u :'))

u=(u1,u2)

v1=int(input('Enter the first coordinate of v :'))
v2=int(input('Enter the second coordinate of v :'))

v=(v1,v2)

# the formula for calculating the euclidean distance between 2 points

Euclidean_Distance=((v2-u2)**2+(v1-u1)**2)**(1/2)

print('The Euclidean Distance between', u,'and', v, 'is =',Euclidean_Distance)

Enter the first coordinate of u : 4
Enter the second coordinate of u : 0
Enter the first coordinate of v : 0
Enter the second coordinate of v : 3

The Euclidean Distance between (4, 0) and (0, 3) is = 5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [23]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

new_string=s.lower()

# a dictionary is defined to show how many times a letter has appeared in the text
my_dictionary = {}

for letter in new_string:
    if letter in my_dictionary:
        # if the letter is in the dictionary and appears again, just adds 1 to the count number
        my_dictionary[letter] += 1
    else:
        # if the letter is not in the dictionary, we add it to dictionary and count it 1
        my_dictionary[letter] = 1
        
    
print(my_dictionary)

{'w': 4, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 11, 'n': 10, 's': 7, 'u': 7, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 3, 'l': 12, 'd': 5, 'v': 2, 'c': 1}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [29]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]


def unique_number(x):
    unique_number_list=[]
    count=0
    for num in x:
        if num not in unique_number_list:
            unique_number_list.append(num)
            count +=1
        else:
            continue
    print('There are',count, 'unique number in the list.')
    print(unique_number_list)

unique_number(l)

There are 54 unique number in the list.
[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [30]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]


unique_number_list=[]
count=0
for num in l:
    if num not in unique_number_list:
        unique_number_list.append(num)
        count +=1
    else:
        continue
print('There are',count, 'unique number in the list.')
print(unique_number_list)

There are 54 unique number in the list.
[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [15]:
Entry=int(input('Enter the number:'))

def square(Entry):
    square=Entry**2
    return square

def cube(Entry):
    cube=Entry**3
    return cube

def sixth(Entry):
    sixth=cube(square(Entry))
    return sixth

print('Square of', Entry,'is:', square(Entry))
print('Cube of', Entry,'is:', cube(Entry))
print('Sixth power of', Entry,'is:', sixth(Entry))

Enter the number: 3

Square of 3 is: 9
Cube of 3 is: 27
Sixth power of 3 is: 729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [19]:
#a

a_list=[]

# 10 is included in [0,10] so we use range(11) 

for i in range(11):
    a_list.append(pow(i,3))
    
print('part a =',a_list)

#b

a_list=[pow(i,3) for i in range(11)]

print('part b =', a_list)

part a = [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
part b = [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [27]:
limit=int(input("Enter upper limit:"))

def Pythagorean_Triple(limit):
    PT_list = []
    for c in range(limit): 
        for b in range(1, c):
            for a in range(1,b):
                if c*c==b*b+a*a:
                    PT_list.append((a,b,c))
                else:
                    continue
    return tuple(PT_list)

print(Pythagorean_Triple(limit))

Enter upper limit: 100

((3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45), (30, 40, 50), (14, 48, 50), (24, 45, 51), (20, 48, 52), (28, 45, 53), (33, 44, 55), (40, 42, 58), (36, 48, 60), (11, 60, 61), (39, 52, 65), (33, 56, 65), (25, 60, 65), (16, 63, 65), (32, 60, 68), (42, 56, 70), (48, 55, 73), (24, 70, 74), (45, 60, 75), (21, 72, 75), (30, 72, 78), (48, 64, 80), (18, 80, 82), (51, 68, 85), (40, 75, 85), (36, 77, 85), (13, 84, 85), (60, 63, 87), (39, 80, 89), (54, 72, 90), (35, 84, 91), (57, 76, 95), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [36]:
# used * to unpack the single argument into multiple arguments

def normalization(*entry_tuple):
    # tuple to list
    entry_List = list(entry_tuple)
    # applying nomalization formula to every elements of the list 
    # then rounding the result with 3 digits after the dot
    norm = [round((i-min(entry_List))/(max(entry_List)-min(entry_List)),3) for i in entry_List ]
    return tuple(norm)

print(normalization(10,30,50,20,40))

(0.0, 0.5, 1.0, 0.25, 0.75)