1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [17]:
for i in range(1, 101):
    if (i % 3) == 0 and (i % 5) == 0:
        print("HelloWorld")
    elif (i % 3) == 0:
        print("Hello")
    elif (i % 5) == 0:
        print("World")
    else:
        print(i)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World

In [18]:
# tuples are immutable objects
# I therefore use a list and then 
# convert it to a tuple

l = []

for i in range(1, 101):
    if (i % 3) == 0 and (i % 5) == 0:
        l.append("HelloWorld")
    elif (i % 3) == 0:
        l.append("Hello")
    elif (i % 5) == 0:
        l.append("World")
    else:
        l.append(i)
        
for i in range(0, 100):
    if l[i] == "Hello":
        l[i] = "Python"
    elif l[i] == "World":
        l[i] = "Works"
        
t = tuple(l)
print(t)

(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'HelloWorld', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'HelloWorld', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'HelloWorld', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'HelloWorld', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'HelloWorld', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'HelloWorld', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [19]:
# using a temporary variable
x = input("Value of the first variable: ")
y = input("Value of the second variable: ")

# swap function
def swap(x, y):
    print("Before the swap: " + str(x) + ", " + str(y))
    temp = x 
    x = y
    y = temp
    return(x, y)
    
print("After the swap: " + str(swap(x, y)))

Value of the first variable: Gauss
Value of the second variable: Dirac
Before the swap: Gauss, Dirac
After the swap: ('Dirac', 'Gauss')

In [20]:
# without using a temporary variable
t = input("Value of the first integer variable: ")
z = input("Value of the second integer variable: ")

# swap function
def swap_nt(t, z):
    print("Before the swap: " + str(t) + ", " + str(z))
    t, z = z, t
    return(t, z)

print("After the swap: " + str(swap_nt(t, z)))

Value of the first integer variable: Pontecorvo
Value of the second integer variable: Parisi
Before the swap: Pontecorvo, Parisi
After the swap: ('Parisi', 'Pontecorvo')

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [21]:
# import sqrt function from math or use x**0.5
import math as mt

# data
print("Input values separated by a comma for each point, e.g.: 0, 4")
u = tuple(int(i) for i in input("x, y coordinates of the first point: ").split(","))
v = tuple(int(i) for i in input("x, y coordinates of the second point: ").split(","))

# distance function
def dist(u, v):
    d = mt.sqrt( (u[0] - v[0])**2 + (u[1] - v[1])**2 )
    return d

dist(u, v)

Input values separated by a comma for each point, e.g.: 0, 4
x, y coordinates of the first point: 3, 0
x, y coordinates of the second point: 0, 4

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [33]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

# function that counts the number of times
# a character c occurs in a string s,
# ignoring capitalization
def count_char(c, s):
    s = s.lower()    
    counter = 0
    for i in range(0, len(s)):
        if s[i] == c:
            counter += 1
    return counter

letters = []
for c in s.lower():
    if c not in letters:
        print(c + " occurs " + str(count_char(c, s)) + " times.")
        letters.append(c)
    
# the built-in function has the same output
# e.g.: print("Using the built-in function: " + str(s.lower().count("a")))

w occurs 4 times.
r occurs 19 times.
i occurs 12 times.
t occurs 19 times.
e occurs 20 times.
  occurs 41 times.
a occurs 7 times.
p occurs 8 times.
o occurs 15 times.
g occurs 1 times.
m occurs 8 times.
h occurs 11 times.
n occurs 10 times.
s occurs 7 times.
u occurs 7 times.
b occurs 5 times.
f occurs 10 times.
1 occurs 2 times.
0 occurs 2 times.
. occurs 3 times.
l occurs 12 times.
d occurs 5 times.
v occurs 2 times.
c occurs 1 times.

In [37]:
# solution n. 2 using a dictionary
d = {}

# create a key and increase it by 1
# every time the corresponding 
# character is found, ignoring
# capitalization
for i in s.lower():
    if i in d:
        d[i] += 1
    else:
        d[i] = 1
        
print(d)

{'w': 4, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 11, 'n': 10, 's': 7, 'u': 7, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 3, 'l': 12, 'd': 5, 'v': 2, 'c': 1}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [1]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def count_unique(l):
    un_numbers = []
    for i in l:
        if i not in un_numbers:
            un_numbers.append(i)
    print(un_numbers)
    return len(un_numbers)
            
print("The entered list has " + str(count_unique(l)) + " unique elements and " + str(len(l)) + " in total.")

[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]
The entered list has 54 unique elements and 80 in total.

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [2]:
# sets do not support duplicates and 
# allow to determine unique elements
s = set(l)
print(s)

print("The entered list has " + str(len(s)) 
      + " unique elements and " + str(len(l)) + " elements in total.")

{1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}
The entered list has 54 unique elements and 80 elements in total.

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [3]:
# base functions
def square(x):
    return x**2

def cube(x):
    return x**3

# composition of the base functions
def sixth(x):
    return cube(square(x))

# example
x = float(input("Enter a number: "))
print("Square: " + str(square(x)) +"\nCube: " + str(cube(x)) + "\nSixth power: " + str(sixth(x)))

Enter a number: 2.0
Square: 4.0
Cube: 8.0
Sixth power: 64.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [4]:
# loop
ll = []
for x in range(0, 11):
    ll.append(x**3)

# list comprehension
lc = [x**3 for x in range(0, 11)]

# result
print(ll)
print(lc)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [5]:
# using a loop
l = []
for c in range(1, 100):
    for b in range(1, c):
        for a in range(1, b):
            if (a**2 + b**2) == c**2:
                l.append((a,b,c))
t = tuple(l)
print(t)
                
# using list comprehension
triples = tuple((a, b, c) for c in range(1, 100) for b in range(1, c) for a in range(1, b) if a**2 + b**2 == c**2)
print(triples)

((3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45), (30, 40, 50), (14, 48, 50), (24, 45, 51), (20, 48, 52), (28, 45, 53), (33, 44, 55), (40, 42, 58), (36, 48, 60), (11, 60, 61), (39, 52, 65), (33, 56, 65), (25, 60, 65), (16, 63, 65), (32, 60, 68), (42, 56, 70), (48, 55, 73), (24, 70, 74), (45, 60, 75), (21, 72, 75), (30, 72, 78), (48, 64, 80), (18, 80, 82), (51, 68, 85), (40, 75, 85), (36, 77, 85), (13, 84, 85), (60, 63, 87), (39, 80, 89), (54, 72, 90), (35, 84, 91), (57, 76, 95), (65, 72, 97))
((3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45), (30, 40, 50), (14, 48, 50), (24, 45, 51), (20, 48, 52), (28, 45, 53), (33, 44, 55), (40, 42, 58), (36, 48, 60), (11, 60, 61), (39, 52, 65), (33, 56, 65), (25, 60, 65), (16, 63, 65), (32, 60, 68), (42, 56, 70), (48, 55, 73), (24, 70, 74), (45, 60, 75), (21, 72, 75), (30, 72, 78), (48, 64, 80), (18, 80, 82), (51, 68, 85), (40, 75, 85), (36, 77, 85), (13, 84, 85), (60, 63, 87), (39, 80, 89), (54, 72, 90), (35, 84, 91), (57, 76, 95), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [6]:
import math as mt

# data
print("Input values separated by a comma, e.g.: 0, 4, 6")
x = tuple(int(i) for i in input("Enter some values: ").split(","))

def normalize(x):
    l = []
    for i in x:
        l.append(i/max(x))
    return tuple(l)

print("Before normalization: " + str(x))
print("After normalization: " + str(normalize(x)))

Input values separated by a comma, e.g.: 0, 4, 6
Enter some values: 2, 4, 6, 7, 8, 10, 4, 4
Before normalization: (2, 4, 6, 7, 8, 10, 4, 4)
After normalization: (0.2, 0.4, 0.6, 0.7, 0.8, 1.0, 0.4, 0.4)