### 1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [6]:
#Performing both point a and b in the same for interation 
t=()
for i in range(1,101):
    if i%3==0:
        if i%5==0: 
            t+=("PythonWorks",)
            print("HelloWorld")
        else: 
            t+=("Python",)
            print("Hello")
    elif i%5==0: 
        t+=("Works",)
        print("World")
    else: 
        t+=(i,)
        print(i)
        
print(t)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

### 2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [8]:
#Swapping without temp: just return at the opposite sort!
def swap(a,b):
    return(b,a)

#Classical swapping with temporary variable
def swap_temp(a,b):
    temp=a
    a=b
    b=temp
    return(a,b)

x = input("First variable: ")
y = input("Second variable: ")

x,y=swap(x,y)
#x,y=swap_temp(x,y) to swap with temporary variable. Same results, omitted.

print("Swapped variables:",x,y)

First variable: 10
Second variable: ciao
Swapped variables: ciao 10

### 3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [1]:
from math import sqrt

def dist(u,v):
    d=sqrt( (u[0]-v[0])**2+(u[1]-v[1])**2 )
    return d

u=(3,0)
v=(0,4)

print("The distance is",dist(u,v))

The distance is 5.0

### 4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [32]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

#Making a list of characters
chars = [x for x in s]

#Creating a dictionary with {}, chars.count(i) on every i in s
dictionary = {i:chars.count(i) for i in chars}
print(dictionary)

{'W': 3, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 9, 'n': 10, 's': 7, 'u': 7, 'b': 4, 'f': 9, '1': 2, '0': 2, '.': 3, 'B': 1, 'l': 12, 'H': 2, 'd': 5, 'v': 2, 'F': 1, 'w': 1, 'c': 1}

### 5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [14]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [15]:
def get_unique(l):
    unique=set() 
    for i in l:  
        if l.count(i)==1:
            unique.add(i)
    return unique

u=get_unique(l)
print("There's",len(u),"unique numbers. They are:",u)

There's 37 unique numbers. They are: {1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99}

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [17]:
summary={x:l.count(x) for x in l} #Dictionary with element of l
unique={x for x in summary if summary[x]==1} #Get only dictionary element with index 1

print("There's", len(unique),"unique element in l:",unique)

There's 37 unique element in l: {1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99}

### 6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [23]:
def square(x):
    return x**2

def cube(x):
    return x**3

def sixth(x):
    return square(cube(x))

print(sixth(2))

64

### 7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

In [20]:
cubes=[]
for i in range(0,11):
    cubes.append(i**3)
    
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

b) a list comprehension

In [22]:
cubes=[x**3 for x in range(0,11)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [2]:
from math import sqrt
pyth=set()

for a in range(1,101):  
    for b in range(1,101):
        c=sqrt(a**2+b**2)
        if c.is_integer()==True and c<=100:
            t=tuple( sorted([a,b,int(c)]) ) #Sort the list and then add the tuple to the set: in this way we avoid counting duplicates like (3,4,5) and (4,3,5)
            pyth.add(t)
        
print("Unique pythagorean triples",sorted(pyth))

Unique pythagorean triples [(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]

### 9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [3]:
from math import sqrt

def normalization(t):
    N = sqrt(sum([i*2 for i in t]))
    return tuple(i/N for i in t)

a=(1,2,3,4,5,6)
b=normalization(a)

#Just show the output with 2 decimal digits
print("The normalized tuple is", tuple(f'{i:.2f}' for i in b) )

The normalized tuple is ('0.15', '0.31', '0.46', '0.62', '0.77', '0.93')