1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [ ]:
print("Solution 1-a")
for i in range(1, 101):
  if i % 3 == 0:
    if i % 5 == 0:
      print("HelloWorld")
    else:
      print("Hello")
  if i % 5 == 0:
    print("World")
  else:
    print(i)

Solution 1-a
1
2
Hello
3
4
World
Hello
6
7
8
Hello
9
World
11
Hello
12
13
14
HelloWorld
World
16
17
Hello
18
19
World
Hello
21
22
23
Hello
24
World
26
Hello
27
28
29
HelloWorld
World
31
32
Hello
33
34
World
Hello
36
37
38
Hello
39
World
41
Hello
42
43
44
HelloWorld
World
46
47
Hello
48
49
World
Hello
51
52
53
Hello
54
World
56
Hello
57
58
59
HelloWorld
World
61
62
Hello
63
64
World
Hello
66
67
68
Hello
69
World
71
Hello
72
73
74
HelloWorld
World
76
77
Hello
78
79
World
Hello
81
82
83
Hello
84
World
86
Hello
87
88
89
HelloWorld
World
91
92
Hello
93
94
World
Hello
96
97
98
Hello
99
World

In [ ]:
def switch2tuple(x):
  return tuple(x)

def switch2list(x):
  return list(x)

# first create empty tuple
t = tuple()
# we can not add new member to tuple so we have to swich it to list
t = switch2list(t)

for i in range(1, 101):
  if i % 3 == 0:
    if i % 5 == 0:
      t.append("HelloWorld")
    else:
      t.append("Hello")
  elif i % 5 == 0:
    t.append("World")
  else:
    t.append(i)

t = swich2tuple(t)
print(t)

print("now we need to modify our tuple which is not possible\nso we need to switch it back to list\n")

t = switch2list(t)

for i in range(len(t)):
  if t[i] == "Hello":
    t[i] = "Python"
  if t[i] == "World":
    t[i] = "Works"  

t = swich2tuple(t)
print("final tuple:\n")
print(t)

(1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'HelloWorld', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'HelloWorld', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'HelloWorld', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'HelloWorld', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'HelloWorld', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'HelloWorld', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World')
now we need to modify our tuple which is not possible
so we need to switch it back to list

final tuple:

(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'HelloWorld', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'HelloWorld', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'HelloWorld', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'HelloWorld', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'HelloWorld', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'HelloWorld', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [ ]:
def swap(a, b):
  a, b = b, a
  return a, b

x, y = 3, 4
print("Before swaping:")
print("x = {} and y = {}".format(x, y))

x, y = swap(x, y)
print("\nAfter swaping:")
print("x = {} and y = {}".format(x, y))

Before swaping:
x = 3 and y = 4

After swaping:
x = 4 and y = 3

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [ ]:
from math import sqrt

def distance(a, b):
  dx = (b[0] - a[0])**2
  dy = (b[1] - a[1])**2
  return sqrt(dx + dy)

u = (3, 0)
v = (0, 4)
d = distance(u, v)
print(f"eucliden distance between {u} and {v} is :\n")
print(d)

eucliden distance between (3, 0) and (0, 4) is :

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [ ]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

In [ ]:
s = s.lower() # for ignoring diffences in capitalization

l = list()
dic = {}

for i in s:
  l.append(i)

l.sort()  # for sorting our list of caracter


for i in l:
  if i in dic.keys():
    dic[i] += 1
  else:
    dic[i] = 1

for k, v in dic.items():
  print(f"Number of '{k}' is {v}")

Number of ' ' is 41
Number of '.' is 3
Number of '0' is 2
Number of '1' is 2
Number of 'a' is 7
Number of 'b' is 5
Number of 'c' is 1
Number of 'd' is 5
Number of 'e' is 20
Number of 'f' is 10
Number of 'g' is 1
Number of 'h' is 11
Number of 'i' is 12
Number of 'l' is 12
Number of 'm' is 8
Number of 'n' is 10
Number of 'o' is 15
Number of 'p' is 8
Number of 'r' is 19
Number of 's' is 7
Number of 't' is 19
Number of 'u' is 7
Number of 'v' is 2
Number of 'w' is 4

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [1]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [2]:
def count_unique_number(a):
  a.sort()
  l = []
  for i in a:
    if a.count(i) == 1:
      l.append(i)
  return l

unique_list = count_unique_number(l)
print("Number of unique number in list is :")
print(len(unique_list))
print()
print("List of uniqu number")
print(unique_list)

Number of unique number in list is :
37

List of uniqu number
[1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99]

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [3]:
t = []
l.sort()
for i in l:
  if l.count(i) == 1:
    t.append(i)

print("Number of unique number in list is :")
print(len(t))
print()
print("List of uniqu number")
print(t)

Number of unique number in list is :
37

List of uniqu number
[1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [4]:
def square(a):
  return a**2
   
def cube(b):
  return b**3

def sixth_power(c):
  return cube(square(c))

x = 2
print(f"6th power of {x} is :")
print(sixth_power(x))

6th power of 2 is :
64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [ ]:
print("part a:")
cubelist = []
for i in range(11):
  cubelist.append(cube(i))

print(cubelist)

print("\nPart b:")

x = [cube(i) for i in range(11)]
x

part a:
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

Part b:

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [ ]:
x = [(x, y, z) for x in range(1, 100) for y in range(1, 100) if y>x for z in range(1, 100) if z>y if z**2 == y**2 + x**2]
x

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (11, 60, 61),
 (12, 16, 20),
 (12, 35, 37),
 (13, 84, 85),
 (14, 48, 50),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (16, 63, 65),
 (18, 24, 30),
 (18, 80, 82),
 (20, 21, 29),
 (20, 48, 52),
 (21, 28, 35),
 (21, 72, 75),
 (24, 32, 40),
 (24, 45, 51),
 (24, 70, 74),
 (25, 60, 65),
 (27, 36, 45),
 (28, 45, 53),
 (30, 40, 50),
 (30, 72, 78),
 (32, 60, 68),
 (33, 44, 55),
 (33, 56, 65),
 (35, 84, 91),
 (36, 48, 60),
 (36, 77, 85),
 (39, 52, 65),
 (39, 80, 89),
 (40, 42, 58),
 (40, 75, 85),
 (42, 56, 70),
 (45, 60, 75),
 (48, 55, 73),
 (48, 64, 80),
 (51, 68, 85),
 (54, 72, 90),
 (57, 76, 95),
 (60, 63, 87),
 (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [ ]:
def normalize(a):
  l = []
  for i in a:
    temp = (i - min(a)) / (max(a) - min(a))
    l.append(temp)
  return l

t = (2, 3, 6, 9)
print(tuple(normalize(t)))

(0.0, 0.14285714285714285, 0.5714285714285714, 1.0)