1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [111]:
temp = []

for i in range(1, 101):
  if i%5==0 and i%3==0:
    to_print = "HelloWorld"
  elif i%3==0:
    to_print = "Hello"
  elif i%5==0:
    to_print = "World"
  else:
    to_print = to_save = i
  
  print(to_print)
  temp.append(to_print)

result = tuple(["PythonWorks" if word == "HelloWorld" else "Python" if word == "Hello" else "Works" if word == "World" else word for word in temp])
print(result)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [78]:
def swap(x, y):
  return y, x
x, y = 5, 1
print("Before swapping: " + "x=%d, " % x + "y=%d" % y)
x, y = swap(x,y)
print("After swapping: " + "x=%d, " % x + "y=%d" % y)

Before swapping: x=5, y=1
After swapping: x=1, y=5

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [79]:
def euc_dist(u, v):
  x_dist = u[0]-v[0]
  y_dist = u[1]-v[1]
  dist = pow (pow(x_dist, 2) + pow(y_dist, 2), 0.5)
  return dist

u = (3, 0)
v = (0, 4)
dist = euc_dist(u, v)
print("Euclidean distance between %s " %(u,) + "and %s " %(v,) + "is %.2f" %dist)

Euclidean distance between (3, 0) and (0, 4) is 5.00

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [80]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

s = s.lower()
characters = [c for c in s]
for i in range(len(characters)):
  print("%c occurs " %characters[i] + "%i times" %s.count(characters[i]))

w occurs 4 times
r occurs 19 times
i occurs 12 times
t occurs 19 times
e occurs 20 times
  occurs 41 times
a occurs 7 times
  occurs 41 times
p occurs 8 times
r occurs 19 times
o occurs 15 times
g occurs 1 times
r occurs 19 times
a occurs 7 times
m occurs 8 times
  occurs 41 times
t occurs 19 times
h occurs 11 times
a occurs 7 times
t occurs 19 times
  occurs 41 times
p occurs 8 times
r occurs 19 times
i occurs 12 times
n occurs 10 times
t occurs 19 times
s occurs 7 times
  occurs 41 times
t occurs 19 times
h occurs 11 times
e occurs 20 times
  occurs 41 times
n occurs 10 times
u occurs 7 times
m occurs 8 times
b occurs 5 times
e occurs 20 times
r occurs 19 times
s occurs 7 times
  occurs 41 times
f occurs 10 times
r occurs 19 times
o occurs 15 times
m occurs 8 times
  occurs 41 times
1 occurs 2 times
  occurs 41 times
t occurs 19 times
o occurs 15 times
  occurs 41 times
1 occurs 2 times
0 occurs 2 times
0 occurs 2 times
. occurs 3 times
  occurs 41 times
b occurs 5 times
u occurs 7 times
t occurs 19 times
  occurs 41 times
f occurs 10 times
o occurs 15 times
r occurs 19 times
  occurs 41 times
m occurs 8 times
u occurs 7 times
l occurs 12 times
t occurs 19 times
i occurs 12 times
p occurs 8 times
l occurs 12 times
e occurs 20 times
s occurs 7 times
  occurs 41 times
o occurs 15 times
f occurs 10 times
  occurs 41 times
t occurs 19 times
h occurs 11 times
r occurs 19 times
e occurs 20 times
e occurs 20 times
  occurs 41 times
p occurs 8 times
r occurs 19 times
i occurs 12 times
n occurs 10 times
t occurs 19 times
  occurs 41 times
h occurs 11 times
e occurs 20 times
l occurs 12 times
l occurs 12 times
o occurs 15 times
  occurs 41 times
i occurs 12 times
n occurs 10 times
s occurs 7 times
t occurs 19 times
e occurs 20 times
a occurs 7 times
d occurs 5 times
  occurs 41 times
o occurs 15 times
f occurs 10 times
  occurs 41 times
t occurs 19 times
h occurs 11 times
e occurs 20 times
  occurs 41 times
n occurs 10 times
u occurs 7 times
m occurs 8 times
b occurs 5 times
e occurs 20 times
r occurs 19 times
  occurs 41 times
a occurs 7 times
n occurs 10 times
d occurs 5 times
  occurs 41 times
f occurs 10 times
o occurs 15 times
r occurs 19 times
  occurs 41 times
t occurs 19 times
h occurs 11 times
e occurs 20 times
  occurs 41 times
m occurs 8 times
u occurs 7 times
l occurs 12 times
t occurs 19 times
i occurs 12 times
p occurs 8 times
l occurs 12 times
e occurs 20 times
s occurs 7 times
  occurs 41 times
o occurs 15 times
f occurs 10 times
  occurs 41 times
f occurs 10 times
i occurs 12 times
v occurs 2 times
e occurs 20 times
  occurs 41 times
p occurs 8 times
r occurs 19 times
i occurs 12 times
n occurs 10 times
t occurs 19 times
  occurs 41 times
w occurs 4 times
o occurs 15 times
r occurs 19 times
l occurs 12 times
d occurs 5 times
. occurs 3 times
  occurs 41 times
f occurs 10 times
o occurs 15 times
r occurs 19 times
  occurs 41 times
n occurs 10 times
u occurs 7 times
m occurs 8 times
b occurs 5 times
e occurs 20 times
r occurs 19 times
s occurs 7 times
  occurs 41 times
w occurs 4 times
h occurs 11 times
i occurs 12 times
c occurs 1 times
h occurs 11 times
  occurs 41 times
a occurs 7 times
r occurs 19 times
e occurs 20 times
  occurs 41 times
m occurs 8 times
u occurs 7 times
l occurs 12 times
t occurs 19 times
i occurs 12 times
p occurs 8 times
l occurs 12 times
e occurs 20 times
s occurs 7 times
  occurs 41 times
o occurs 15 times
f occurs 10 times
  occurs 41 times
b occurs 5 times
o occurs 15 times
t occurs 19 times
h occurs 11 times
  occurs 41 times
t occurs 19 times
h occurs 11 times
r occurs 19 times
e occurs 20 times
e occurs 20 times
  occurs 41 times
a occurs 7 times
n occurs 10 times
d occurs 5 times
  occurs 41 times
f occurs 10 times
i occurs 12 times
v occurs 2 times
e occurs 20 times
  occurs 41 times
p occurs 8 times
r occurs 19 times
i occurs 12 times
n occurs 10 times
t occurs 19 times
  occurs 41 times
h occurs 11 times
e occurs 20 times
l occurs 12 times
l occurs 12 times
o occurs 15 times
w occurs 4 times
o occurs 15 times
r occurs 19 times
l occurs 12 times
d occurs 5 times
. occurs 3 times

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [82]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unique_values(input_list):
  unique_count = 0
  unique_vals = []
  for elem in input_list:
    if elem not in unique_vals:
      unique_vals.append(elem)
      unique_count += 1
  unique_vals.sort()
  return unique_count, unique_vals

unique_num, unique_elems = unique_values(l)
print("There are %i" %unique_num + " unique elements in the list, that is: %s" %unique_elems)

There are 54 unique elements in the list, that is: [1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99]

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [83]:
unique_elems = set(l)
unique_num = len(unique_elems)
print("There are %i" %unique_num + " unique elements in the list, that is: %s" %unique_elems)

There are 54 unique elements in the list, that is: {1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [85]:
def square(n):
  return n**2

def cube(n):
  return n**3

def sixth_pow(n):
  return square(cube(n))

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [86]:
values = range(11)
cubes_a = []
for x in values:
  cubes_a.append(x**3)

cubes_b = [x**3 for x in values]

print(cubes_a, cubes_b)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000] [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [87]:
pythagorean_triples = tuple([(a, b, c) for a in range(1, 100) for b in range(a, 100) for c in range (b, 100) if pow(pow(a, 2) + pow(b, 2), 0.5) == c])
print(pythagorean_triples)

((3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [107]:
def norm_tuple(tup):
  x_sum_sq = pow(sum([x**2 for x in tup]), 0.5)
  norm_tup = tuple([x/x_sum_sq for x in tup])
  return norm_tup

tup = (1, 5, 10)
norm_tup = norm_tuple(tup)
print(norm_tup)

(0.0890870806374748, 0.44543540318737396, 0.8908708063747479)