1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [10]:
l = []

for i in range(1,101):
    if i%15==0:
        l.append("HelloWorld")
    elif i%5==0:
        l.append("World")
    elif i%3==0:
        l.append("Hello")
    else:
        l.append(i)
    print(l[i-1])
        
        
l2=tuple(l)
        
for x in l2:
    x = str(x)
    if "HelloWorld" in x:
        x = "PythonWorks"
    elif "World" in x:
        x = "Works"
    elif "Hello" in x:
        x = "Python"
    
    print(x)
    

print(type(l))
print(type(l2))

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World
1
2
Python
4
Works
Python
7
8
Python
Works
11
Python
13
14
PythonWorks
16
17
Python
19
Works
Python
22
23
Python
Works
26
Python
28
29
PythonWorks
31
32
Python
34
Works
Python
37
38
Python
Works
41
Python
43
44
PythonWorks
46
47
Python
49
Works
Python
52
53
Python
Works
56
Python
58
59
PythonWorks
61
62
Python
64
Works
Python
67
68
Python
Works
71
Python
73
74
PythonWorks
76
77
Python
79
Works
Python
82
83
Python
Works
86
Python
88
89
PythonWorks
91
92
Python
94
Works
Python
97
98
Python
Works
<class 'list'>
<class 'tuple'>

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [16]:
def swap(x,y):
    x,y=y,x
    return x,y

def swaptemp(x,y):
    z = x
    x = y
    y = z

x = "primo"
y = "secondo"

print("x=",x)
print("y=",y)

print("Swapping..")
(x,y)=swap(x,y)
print("x=",x)
print("y=",y)

x= primo
y= secondo
Swapping..
x= secondo
y= primo

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [19]:
def euclideanDistance(x, y):
    return pow( pow(x[0]+y[0],2) + pow(x[1]+y[1],2) , 0.5)

u = [3, 0]
v = [0, 4]

print(euclideanDistance(u,v))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [21]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

d = {}

for c in s.lower():
    if c not in d:
        d.update({c : 1})
    else:
        d[c] += 1

for x in d:
    print("There are",d[x],"characters",x)

There are 4 characters w
There are 19 characters r
There are 12 characters i
There are 19 characters t
There are 20 characters e
There are 41 characters
There are 7 characters a
There are 8 characters p
There are 15 characters o
There are 1 characters g
There are 8 characters m
There are 11 characters h
There are 10 characters n
There are 7 characters s
There are 7 characters u
There are 5 characters b
There are 10 characters f
There are 2 characters 1
There are 2 characters 0
There are 3 characters .
There are 12 characters l
There are 5 characters d
There are 2 characters v
There are 1 characters c

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [22]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unique(list):
    a=[]
    cont=0
    for i in list:
        if i not in a:
            a.append(i)
    for i in a:
        if list.count(i)==1:
            print(i,"is a unique number")
            cont+=1
    print ("There are",cont,"unique numbers")
unique(l)

58 is a unique number
74 is a unique number
96 is a unique number
64 is a unique number
10 is a unique number
24 is a unique number
19 is a unique number
33 is a unique number
86 is a unique number
99 is a unique number
18 is a unique number
47 is a unique number
88 is a unique number
55 is a unique number
54 is a unique number
8 is a unique number
79 is a unique number
81 is a unique number
57 is a unique number
37 is a unique number
1 is a unique number
9 is a unique number
95 is a unique number
90 is a unique number
98 is a unique number
39 is a unique number
16 is a unique number
82 is a unique number
92 is a unique number
41 is a unique number
30 is a unique number
94 is a unique number
5 is a unique number
72 is a unique number
87 is a unique number
75 is a unique number
53 is a unique number
There are 37 unique numbers

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [23]:
#without user-defined functions

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

a=[]
cont=0
for i in l:
    if i not in a:
        a.append(i)
for i in a:
    if l.count(i)==1:
        print(i,"is a unique number")
        cont+=1
print ("There are",cont,"unique numbers")

58 is a unique number
74 is a unique number
96 is a unique number
64 is a unique number
10 is a unique number
24 is a unique number
19 is a unique number
33 is a unique number
86 is a unique number
99 is a unique number
18 is a unique number
47 is a unique number
88 is a unique number
55 is a unique number
54 is a unique number
8 is a unique number
79 is a unique number
81 is a unique number
57 is a unique number
37 is a unique number
1 is a unique number
9 is a unique number
95 is a unique number
90 is a unique number
98 is a unique number
39 is a unique number
16 is a unique number
82 is a unique number
92 is a unique number
41 is a unique number
30 is a unique number
94 is a unique number
5 is a unique number
72 is a unique number
87 is a unique number
75 is a unique number
53 is a unique number
There are 37 unique numbers

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [24]:
def pow2(a):
    return a**2
def pow3 (b):
    return b**3
def pow6 (c):
    return pow2(pow3(c))
pow6(2)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [26]:
#with a for loop
l=[]
for i in range(0,11):
    l.append(i**3)
print(l)

#with a list comprehension
l2 = [x**3 for x in range(0,11)]
print (l2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [27]:
print([[a,b,c] for a in range(1,101) for b in range(1,101) for c in range(1,101) if a**2+b**2==c**2])

[[3, 4, 5], [4, 3, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 6, 10], [8, 15, 17], [9, 12, 15], [9, 40, 41], [10, 24, 26], [11, 60, 61], [12, 5, 13], [12, 9, 15], [12, 16, 20], [12, 35, 37], [13, 84, 85], [14, 48, 50], [15, 8, 17], [15, 20, 25], [15, 36, 39], [16, 12, 20], [16, 30, 34], [16, 63, 65], [18, 24, 30], [18, 80, 82], [20, 15, 25], [20, 21, 29], [20, 48, 52], [21, 20, 29], [21, 28, 35], [21, 72, 75], [24, 7, 25], [24, 10, 26], [24, 18, 30], [24, 32, 40], [24, 45, 51], [24, 70, 74], [25, 60, 65], [27, 36, 45], [28, 21, 35], [28, 45, 53], [28, 96, 100], [30, 16, 34], [30, 40, 50], [30, 72, 78], [32, 24, 40], [32, 60, 68], [33, 44, 55], [33, 56, 65], [35, 12, 37], [35, 84, 91], [36, 15, 39], [36, 27, 45], [36, 48, 60], [36, 77, 85], [39, 52, 65], [39, 80, 89], [40, 9, 41], [40, 30, 50], [40, 42, 58], [40, 75, 85], [42, 40, 58], [42, 56, 70], [44, 33, 55], [45, 24, 51], [45, 28, 53], [45, 60, 75], [48, 14, 50], [48, 20, 52], [48, 36, 60], [48, 55, 73], [48, 64, 80], [51, 68, 85], [52, 39, 65], [54, 72, 90], [55, 48, 73], [56, 33, 65], [56, 42, 70], [57, 76, 95], [60, 11, 61], [60, 25, 65], [60, 32, 68], [60, 45, 75], [60, 63, 87], [60, 80, 100], [63, 16, 65], [63, 60, 87], [64, 48, 80], [65, 72, 97], [68, 51, 85], [70, 24, 74], [72, 21, 75], [72, 30, 78], [72, 54, 90], [72, 65, 97], [75, 40, 85], [76, 57, 95], [77, 36, 85], [80, 18, 82], [80, 39, 89], [80, 60, 100], [84, 13, 85], [84, 35, 91], [96, 28, 100]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [30]:
import math
def norm(l):
    tot=0
    for i in range(len(l)):
        tot+=l[i]**2
    for i in range(len(l)):
        l[i]=l[i]/math.sqrt(tot)
    print(l)
    
test = [1, 2, 2]

norm(test)

[0.3333333333333333, 0.6666666666666666, 0.6666666666666666]