1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [93]:
HelloWorld=()
for i in range (1,101):
  if (i%3==0):
    HelloWorld+=("Python",)
    print("Hello")
  elif (i%5==0):
    HelloWorld+=("Works",)
    print("World")
  elif ((i%3==0) & (i%5==0) ):
    HelloWorld+=("HelloWorld")
    print("HelloWorld")
  else:
    HelloWorld+=(str(i),)
    print(str(i))

print(HelloWorld)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
Hello
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
Hello
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
Hello
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
Hello
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
Hello
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
Hello
91
92
Hello
94
World
Hello
97
98
Hello
World
('1', '2', 'Python', '4', 'Works', 'Python', '7', '8', 'Python', 'Works', '11', 'Python', '13', '14', 'Python', '16', '17', 'Python', '19', 'Works', 'Python', '22', '23', 'Python', 'Works', '26', 'Python', '28', '29', 'Python', '31', '32', 'Python', '34', 'Works', 'Python', '37', '38', 'Python', 'Works', '41', 'Python', '43', '44', 'Python', '46', '47', 'Python', '49', 'Works', 'Python', '52', '53', 'Python', 'Works', '56', 'Python', '58', '59', 'Python', '61', '62', 'Python', '64', 'Works', 'Python', '67', '68', 'Python', 'Works', '71', 'Python', '73', '74', 'Python', '76', '77', 'Python', '79', 'Works', 'Python', '82', '83', 'Python', 'Works', '86', 'Python', '88', '89', 'Python', '91', '92', 'Python', '94', 'Works', 'Python', '97', '98', 'Python', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [94]:
def swab (x,y):
  return(y,x)

x=3
y=4
x,y=swab(x,y)
print(x,y)

4 3

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [95]:
def dist(u,v):
  return ((v[0]-u[0])**2 + (v[1]-u[1])**2)**0.5

u=(3,0)
v=(0,4)
print(dist(u,v))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [96]:
import string

s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

x=set(s.capitalize() )
letters=list(string.ascii_lowercase)

for i in x:
  if (i in letters):
    print("number of occurance if ",i," in s is: ", s.count(i))

number of occurance if  m  in s is:  8
number of occurance if  u  in s is:  7
number of occurance if  w  in s is:  1
number of occurance if  l  in s is:  12
number of occurance if  p  in s is:  8
number of occurance if  n  in s is:  10
number of occurance if  s  in s is:  7
number of occurance if  a  in s is:  7
number of occurance if  f  in s is:  9
number of occurance if  e  in s is:  20
number of occurance if  d  in s is:  5
number of occurance if  g  in s is:  1
number of occurance if  r  in s is:  19
number of occurance if  t  in s is:  19
number of occurance if  i  in s is:  12
number of occurance if  v  in s is:  2
number of occurance if  c  in s is:  1
number of occurance if  h  in s is:  9
number of occurance if  o  in s is:  15
number of occurance if  b  in s is:  4

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [97]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unique(l):
  s=set(l)
  uni=[]
  for i in s:
    if(l.count(i)==1):
      uni.append(i)
  return(uni)

uni=unique(l)
print(uni)

[1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99]

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [98]:
from collections import Counter

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

for i in l:
    if l.count(i)==1:
        print(i)

58
74
96
64
10
24
19
33
86
99
18
47
88
55
54
8
79
81
57
37
1
9
95
90
98
39
16
82
92
41
30
94
5
72
87
75
53

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [99]:
def square(x):
  return(x**2)
def cube(x):
  return(x**3)
def sixth(x):
  return (cube(square(x)))

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [100]:
cubes_loop=[]
for i in range(0,11):
  cubes_loop.append(i**3)
print(cubes_loop)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [101]:
cubes_list_comprehension=[i**3 for i in range(0,11)]
print(cubes_list_comprehension)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [102]:
import math as m
py=()
for x in range (1, 100):
        for y in range (x+1, 100):
            for z in range(1, 100):
                if x*x + y*y == z*z:
                    py+=((x, y, z),)
py

((3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (11, 60, 61),
 (12, 16, 20),
 (12, 35, 37),
 (13, 84, 85),
 (14, 48, 50),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (16, 63, 65),
 (18, 24, 30),
 (18, 80, 82),
 (20, 21, 29),
 (20, 48, 52),
 (21, 28, 35),
 (21, 72, 75),
 (24, 32, 40),
 (24, 45, 51),
 (24, 70, 74),
 (25, 60, 65),
 (27, 36, 45),
 (28, 45, 53),
 (30, 40, 50),
 (30, 72, 78),
 (32, 60, 68),
 (33, 44, 55),
 (33, 56, 65),
 (35, 84, 91),
 (36, 48, 60),
 (36, 77, 85),
 (39, 52, 65),
 (39, 80, 89),
 (40, 42, 58),
 (40, 75, 85),
 (42, 56, 70),
 (45, 60, 75),
 (48, 55, 73),
 (48, 64, 80),
 (51, 68, 85),
 (54, 72, 90),
 (57, 76, 95),
 (60, 63, 87),
 (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [103]:
def norm(list):
  return([float(i)/sum(list) for i in list])
  
print(norm([0.07, 0.14, 0.07]))

[0.25, 0.5, 0.25]