1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [122]:
# 1a)
for i in range(1,101):
    if i % 3 == 0 and i % 5 == 0:
        print(i,"HelloWorld")
    elif i % 5 == 0:
        print(i,"world")
    elif i % 3 == 0 and i % 5 != 0:
        print(i,"Hello")
    else:
         print(i)

1
2
3 Hello
4
5 world
6 Hello
7
8
9 Hello
10 world
11
12 Hello
13
14
15 HelloWorld
16
17
18 Hello
19
20 world
21 Hello
22
23
24 Hello
25 world
26
27 Hello
28
29
30 HelloWorld
31
32
33 Hello
34
35 world
36 Hello
37
38
39 Hello
40 world
41
42 Hello
43
44
45 HelloWorld
46
47
48 Hello
49
50 world
51 Hello
52
53
54 Hello
55 world
56
57 Hello
58
59
60 HelloWorld
61
62
63 Hello
64
65 world
66 Hello
67
68
69 Hello
70 world
71
72 Hello
73
74
75 HelloWorld
76
77
78 Hello
79
80 world
81 Hello
82
83
84 Hello
85 world
86
87 Hello
88
89
90 HelloWorld
91
92
93 Hello
94
95 world
96 Hello
97
98
99 Hello
100 world

In [123]:
# 1b)
a_list = [n for n in range(0,101)]
for i in range(1,101):
    if i % 3 == 0 and i % 5 == 0:
        a_list[i] = "Hello World"
    elif i % 5 == 0:
        a_list[i] = "world"
    elif i % 3 == 0 and i % 5 != 0:
        a_list[i] = "Hello"
    else:
        a_list[i] = i

for n, i in enumerate(a_list):
    if i == "Hello":
        a_list[n] = "Python"
    elif i == "world":
        a_list[n] = "works"

a_tuple = tuple(a_list)

print(a_tuple)

(0, 1, 2, 'Python', 4, 'works', 'Python', 7, 8, 'Python', 'works', 11, 'Python', 13, 14, 'Hello World', 16, 17, 'Python', 19, 'works', 'Python', 22, 23, 'Python', 'works', 26, 'Python', 28, 29, 'Hello World', 31, 32, 'Python', 34, 'works', 'Python', 37, 38, 'Python', 'works', 41, 'Python', 43, 44, 'Hello World', 46, 47, 'Python', 49, 'works', 'Python', 52, 53, 'Python', 'works', 56, 'Python', 58, 59, 'Hello World', 61, 62, 'Python', 64, 'works', 'Python', 67, 68, 'Python', 'works', 71, 'Python', 73, 74, 'Hello World', 76, 77, 'Python', 79, 'works', 'Python', 82, 83, 'Python', 'works', 86, 'Python', 88, 89, 'Hello World', 91, 92, 'Python', 94, 'works', 'Python', 97, 98, 'Python', 'works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [129]:
# Version 1 with temporary variable
def swap_v1(a,b):
    temp = a 
    a = b 
    b = temp
    return(a,b)

x = "Neutrino"
y = "Boson"

print('Initial particle x is {0}'.format(x))
print('Initial particle y is {0}'.format(y))

x,y = swap_v1(x,y)

print('Swapped particle x is {0}'.format(x))
print('Swapped particle y is {0}\n'.format(y))

# Version 2 without temporary variable
def swap_v2(a,b):
    a,b = b,a
    return(a,b)

w = [n for n in range(0,5)]
z = [n for n in range(5,10)]

print('Initial list is {0}'.format(w))
print('Initial list is {0}'.format(z))

w,z = swap_v2(w,z)

print('Swapped list is {0}'.format(w))
print('Swapped list is {0}'.format(z))

Initial particle x is Neutrino
Initial particle y is Boson
Swapped particle x is Boson
Swapped particle y is Neutrino

Initial list is [0, 1, 2, 3, 4]
Initial list is [5, 6, 7, 8, 9]
Swapped list is [5, 6, 7, 8, 9]
Swapped list is [0, 1, 2, 3, 4]

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [130]:
def dist(a,b):
    if isinstance(a, tuple) and isinstance(b, tuple):
        sum = (a[0] - b[0])**2 + (a[1] - b[1])**2
        d = sum**0.5
        return d
    else:
        print("Input variable is not a tuple\n")
    
u = (3,0)
v = (0,4)

dist(u,v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [132]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

counts = {}
s = s.lower()
for i in s:
    if i in counts:
        counts[i] += 1
    else:
        counts[i] = 1
  
print ("Count of all characters in string is :\n " +  str(counts))

Count of all characters in string is :
 {'w': 4, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 11, 'n': 10, 's': 7, 'u': 7, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 3, 'l': 12, 'd': 5, 'v': 2, 'c': 1}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [156]:
def get_unique(list):
    unique = []

    for number in list:
        if number in unique:
            continue
        else:
            unique.append(number)
    return len(unique)

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

print("Number of unique items in the list are:", get_unique(l))

Number of unique items in the list are: 54

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [133]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

# convert list to set
new_set = set(l)
print("Number of unique items in the list are:", len(new_set))

Number of unique items in the list are: 54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [160]:
def square(x):
    return x**2

def cube(x):
    return x**3

def sixth(x):
    y = cube(x) * square(x)
    return(y)

a = 2

print("{0}^6 = {1}".format(a,sixth(a)))
#print(str(a) + "^6 = " + str(sixth(a)))

2^6 = 32

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [171]:
# 7a)

def cube(n):
    return n**3

x = []

for i in range(0,11):
    x.append(cube(i))

print(x)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [174]:
# 7b)

x = [n**3 for n in range(0,11)]

print(x)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [267]:
triplet = [(a, b, c) for c in range(2, 101) for b in range(2, c) for a in range(2, b) if a**2 + b**2 == c**2]
triplet = tuple(triplet)
print(triplet)

((3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45), (30, 40, 50), (14, 48, 50), (24, 45, 51), (20, 48, 52), (28, 45, 53), (33, 44, 55), (40, 42, 58), (36, 48, 60), (11, 60, 61), (39, 52, 65), (33, 56, 65), (25, 60, 65), (16, 63, 65), (32, 60, 68), (42, 56, 70), (48, 55, 73), (24, 70, 74), (45, 60, 75), (21, 72, 75), (30, 72, 78), (48, 64, 80), (18, 80, 82), (51, 68, 85), (40, 75, 85), (36, 77, 85), (13, 84, 85), (60, 63, 87), (39, 80, 89), (54, 72, 90), (35, 84, 91), (57, 76, 95), (65, 72, 97), (60, 80, 100), (28, 96, 100))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [1]:
def norm(a):
    if isinstance(a, tuple):
        maximum = max(a)
        norm_a = [x/maximum for x in a]
        return(norm_a)
    else:
        print("Input variable is not a tuple\n")
    

y = (1,3,4,2,4,9)
norm_y = norm(y)

tuple_y = tuple(norm_y)

print('Vector: {0}\n'.format(y))
print('Normalized vector: {0}\n'.format(tuple_y))

Vector: (1, 3, 4, 2, 4, 9)

Normalized vector: (0.1111111111111111, 0.3333333333333333, 0.4444444444444444, 0.2222222222222222, 0.4444444444444444, 1.0)