1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [47]:
#part a
for i in range(1,100):
  if i % 3 == 0 and i % 5 == 0: 
    result1= print("HelloWorld")
  elif i % 5 == 0 : 
    result2 = print("World")
  elif i % 3 == 0:
    result3 = print("Hello")
  else:
    result4 = print(i)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello

In [48]:
#Part b: 
def convert2tuple(x):
  return tuple(x)

def convert2list(x):
  return list(x)

#Create an empty tuple
t = tuple()
# we can not modify tuple, so we have to convert it to list
t = convert2list(t)

for i in range(1, 101):
  if i % 3 == 0:
    if i % 5 == 0:
      t.append("HelloWorld")
    else:
      t.append("Hello")
  elif i % 5 == 0:
    t.append("World")
  else:
    t.append(i)

t = convert2tuple(t)
print(t)

print(" Convert it back to list")

t = convert2list(t)

for i in range(len(t)):
  if t[i] == "Hello":
    t[i] = "Python"
  if t[i] == "World":
    t[i] = "Works"  

t = convert2tuple(t)
print("final tuple:\n")
print(t)

(1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'HelloWorld', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'HelloWorld', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'HelloWorld', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'HelloWorld', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'HelloWorld', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'HelloWorld', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World')
 Convert it back to list
final tuple:

(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'HelloWorld', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'HelloWorld', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'HelloWorld', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'HelloWorld', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'HelloWorld', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'HelloWorld', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [49]:
#how to make it tuple?
def swap(x= 0 ,y= 0):
  x = int(input("Enter your 1st number (as x): "))
  y = int(input("Enter your 2nd number (as y): "))
  x , y = y , x 
  print("The new Value for y =",y)
  print("The new Value for x =",x)


#example
swap(3, 7)

Enter your 1st number (as x): 3
Enter your 2nd number (as y): 7
The new Value for y = 3
The new Value for x = 7

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [51]:
import math

def distance(a, b):
   y = (b[1] - a[1])**2
   x = (b[0] - a[0])**2
   return math.sqrt(x + y)

u = (3, 0)
v = (0, 4)
dis = distance(u, v)
print(f"Eucliden distance between {u} and {v} is :")
print(dis)

Eucliden distance between (3, 0) and (0, 4) is :
5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [52]:
print("\n First Solution")
from collections import Counter
word = "reza ebrahimian baboukani"
counter = Counter(i for i in word.upper() if i.isalpha())
print(counter)


print("\n Second Solution")

word = "Reza Ebrahimian Baboukani"
count = {}
  
for i in word:
    if i in count:
        count[i] += 1
    else:
        count[i] = 1

print (str(count))

 First Solution
Counter({'A': 5, 'B': 3, 'I': 3, 'R': 2, 'E': 2, 'N': 2, 'Z': 1, 'H': 1, 'M': 1, 'O': 1, 'U': 1, 'K': 1})

 Second Solution
{'R': 1, 'e': 1, 'z': 1, 'a': 5, ' ': 2, 'E': 1, 'b': 2, 'r': 1, 'h': 1, 'i': 3, 'm': 1, 'n': 2, 'B': 1, 'o': 1, 'u': 1, 'k': 1}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [53]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def countuniquenumber(x):
  x.sort()
  l = []
  for i in x:
    if x.count(i) == 1:
      l.append(i)
  return l

uniquelist = countuniquenumber(l)
print("Number of unique numbers in list :")
print(len(uniquelist))
print()
print("List of uniqu number :")
print(uniquelist)

Number of unique numbers in list :
37

List of uniqu number :
[1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99]

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [54]:
a = []
l.sort()
for j in l:
  if l.count(j) == 1:
    a.append(j)

print("Number of unique numbers in list : ")
print(len(a))
print()
print("List of uniqu number : ")
print(a)

Number of unique numbers in list :
37

List of uniqu number :
[1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [61]:
import math
def func1(x = 0):
  result= math.pow(x,2)
  return(result)

def func2(n = 0):
  result = math.pow(n,3)
  return(result)

def func3(m = 0):
  result1 = func1(m)
  result= func2(result1)
  return(result)

#Example
print(f"6th power of 2:")
print((func3(2)))

6th power of 2:
64.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [62]:
#part a
print("part a:")

cube_list = []
for i in range(11):
  cube_list.append(func2(i))

print(cube_list)

#part b
print("\nPart b:")

x = [func2(i) for i in range(11)]
print(x)

part a:
[0.0, 1.0, 8.0, 27.0, 64.0, 125.0, 216.0, 343.0, 512.0, 729.0, 1000.0]

Part b:
[0.0, 1.0, 8.0, 27.0, 64.0, 125.0, 216.0, 343.0, 512.0, 729.0, 1000.0]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [63]:
x = [(x, y, z) for x in range(1, 100) for y in range(1, 100) if y>x for z in range(1, 100) if z>y if z**2 == y**2 + x**2]
x

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (11, 60, 61),
 (12, 16, 20),
 (12, 35, 37),
 (13, 84, 85),
 (14, 48, 50),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (16, 63, 65),
 (18, 24, 30),
 (18, 80, 82),
 (20, 21, 29),
 (20, 48, 52),
 (21, 28, 35),
 (21, 72, 75),
 (24, 32, 40),
 (24, 45, 51),
 (24, 70, 74),
 (25, 60, 65),
 (27, 36, 45),
 (28, 45, 53),
 (30, 40, 50),
 (30, 72, 78),
 (32, 60, 68),
 (33, 44, 55),
 (33, 56, 65),
 (35, 84, 91),
 (36, 48, 60),
 (36, 77, 85),
 (39, 52, 65),
 (39, 80, 89),
 (40, 42, 58),
 (40, 75, 85),
 (42, 56, 70),
 (45, 60, 75),
 (48, 55, 73),
 (48, 64, 80),
 (51, 68, 85),
 (54, 72, 90),
 (57, 76, 95),
 (60, 63, 87),
 (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [64]:
def normalizer(a):
  l = []
  for j in a:
    temp = (j - min(a)) / (max(a) - min(a))
    l.append(temp)
  return l

t = (5, 3, 7, 9)
print(tuple(normalizer(t)))

(0.3333333333333333, 0.0, 0.6666666666666666, 1.0)