1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [43]:
for num in range(1, 100):
    if num % 3 == 0 and num % 5 == 0:
        result = "HelloWorld"
        print(result)
    elif num % 3 == 0:
        result = "Hello"
        print(result)
    elif num % 5 == 0:
        result = "Works"
        print(result)
    else:
         print(num)

1
2
Hello
4
Works
Hello
7
8
Hello
Works
11
Hello
13
14
HelloWorld
16
17
Hello
19
Works
Hello
22
23
Hello
Works
26
Hello
28
29
HelloWorld
31
32
Hello
34
Works
Hello
37
38
Hello
Works
41
Hello
43
44
HelloWorld
46
47
Hello
49
Works
Hello
52
53
Hello
Works
56
Hello
58
59
HelloWorld
61
62
Hello
64
Works
Hello
67
68
Hello
Works
71
Hello
73
74
HelloWorld
76
77
Hello
79
Works
Hello
82
83
Hello
Works
86
Hello
88
89
HelloWorld
91
92
Hello
94
Works
Hello
97
98
Hello

In [40]:
result = []

for num in range(1, 100):
    if num % 3 == 0 and num % 5 == 0:
        result.append("Python Works")
#         print(result)
    elif num % 3 == 0:
        result.append("Pyhton")
#         print(result)
    elif num % 5 == 0:
        result.append("Works")
#         print(result)
    else:
         result.append(num)
            

tuple(result)

(1,
 2,
 'Pyhton',
 4,
 'Works',
 'Pyhton',
 7,
 8,
 'Pyhton',
 'Works',
 11,
 'Pyhton',
 13,
 14,
 'Python Works',
 16,
 17,
 'Pyhton',
 19,
 'Works',
 'Pyhton',
 22,
 23,
 'Pyhton',
 'Works',
 26,
 'Pyhton',
 28,
 29,
 'Python Works',
 31,
 32,
 'Pyhton',
 34,
 'Works',
 'Pyhton',
 37,
 38,
 'Pyhton',
 'Works',
 41,
 'Pyhton',
 43,
 44,
 'Python Works',
 46,
 47,
 'Pyhton',
 49,
 'Works',
 'Pyhton',
 52,
 53,
 'Pyhton',
 'Works',
 56,
 'Pyhton',
 58,
 59,
 'Python Works',
 61,
 62,
 'Pyhton',
 64,
 'Works',
 'Pyhton',
 67,
 68,
 'Pyhton',
 'Works',
 71,
 'Pyhton',
 73,
 74,
 'Python Works',
 76,
 77,
 'Pyhton',
 79,
 'Works',
 'Pyhton',
 82,
 83,
 'Pyhton',
 'Works',
 86,
 'Pyhton',
 88,
 89,
 'Python Works',
 91,
 92,
 'Pyhton',
 94,
 'Works',
 'Pyhton',
 97,
 98,
 'Pyhton')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [13]:
x = 52
y = 14

x, y = y, x
print("New value of x =", x)
print("New value of y =", y)

New value of x = 14
New value of y = 52

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [7]:
u = (3, 0)
v = (0, 4)

((v[0] - u[0])**2 + (v[1] - u[1])**2)**0.5

def eucl_distance(u, v):
    return ((v[0] - u[0])**2 + (v[1] - u[1])**2)**0.5

euclidean(u, v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [2]:
string = input("Enter a string : ")
character = input("Please enter your own Character : ")

count = 0
for i in range(len(string)):
    if(string[i] == character):
        count = count + 1

print("The total Number of Times ", character, " has Occurred = " , count)

Enter a string : Today is the first day of the month
Please enter your own Character : t
The total Number of Times  t  has Occurred =  4

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [5]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [28]:
mylst = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]


mylst1 = []

count = 0

for i in mylst:
    if i not in mylst1:
        count = count + 1
        mylst1.append(i)

print("Output list : ", lst1)
print("No. of unique items are:", count)

Output list :  [36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53, 36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91, 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41, 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
No. of unique items are: 54

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [44]:
set(lst1)

{1,
 3,
 5,
 8,
 9,
 10,
 16,
 18,
 19,
 20,
 24,
 30,
 31,
 33,
 34,
 36,
 37,
 39,
 41,
 42,
 45,
 47,
 50,
 51,
 53,
 54,
 55,
 56,
 57,
 58,
 63,
 64,
 66,
 70,
 72,
 74,
 75,
 79,
 81,
 82,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 94,
 95,
 96,
 98,
 99}

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [70]:
def square(x):
    return x**2

def cube(x):
    return x**3

def pow6(x):
    return cube(square(x))

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [71]:
cubesA = []
for i in range(1, 11):
    cubesA.append(i**3)
print (cubesA)

cubesB = [i**3 for i in range(1, 11)]
print(cubesB)

print(map(lambda x: x**3, range(1, 11)))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
<map object at 0x000002A98F3735E0>

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [36]:
print([(i, j) for i in range(1,4) for j in range(10, 14)])
pythgn_trpls = [(a, b, c) for a in range(1, 100)for b in range(1, 100)for c in range(1, 100)if a**2 + b**2 == c**2]
print (pythgn_trpls)


pythgn_trpls = [(a, b, c) for a in range(1, 100)
                                 for b in range(a, 100)
                                 for c in range(b, 100)
                                 if a**2 + b**2 == c**2]
print (pythgn_trpls)

[(1, 10), (1, 11), (1, 12), (1, 13), (2, 10), (2, 11), (2, 12), (2, 13), (3, 10), (3, 11), (3, 12), (3, 13)]
[(3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (84, 13, 85), (84, 35, 91)]
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [67]:
def f(norm):
    s = 0
    for x in norm:
        s += x
    return.append [x/s for x in norm]

norm = [1,2,3,4]
print(f(norm))

[0.1, 0.2, 0.3, 0.4]