1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".



b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [75]:
# 1.a
def helloWorld():
    i=0
    while(i<100):
        i+=1
        result = ""
        
        if(i%3 == 0 or i%5 == 0):
            if(i%3 == 0):
                result += "Hello"
            if(i%5 == 0):
                result += "World"
        else:
            result += str(i)

        print(result)
    
helloWorld()

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World

In [84]:
# 1.b
def helloWorld():
    i=0
    t = ()
    while(i<100):
        i+=1
        result = ""
        
        if(i%3 == 0 or i%5 == 0):
            if(i%3 == 0):
                result += "Hello"
            if(i%5 == 0):
                result += "World"
        else:
            result += str(i)
        tmp = (*t, result)
        t = tmp
    return t


def helloWorldReplace(t):
    v = []
    t2 = ()
    for i in t:
        v.append(i)
    
    k = 0
    for i in v:
        if(i == "Hello"):
            v[k] = "Python"
        if(i == "World"):
            v[k] = "Works"
        if(i == "HelloWorld"):
            v[k] = "PythonWorks"
        k+=1
        
    for i in v:
        tmp = (*t2, i)
        t2 = tmp
    return t2
        
    
t = helloWorld()
helloWorldReplace(t)

('1',
 '2',
 'Python',
 '4',
 'Works',
 'Python',
 '7',
 '8',
 'Python',
 'Works',
 '11',
 'Python',
 '13',
 '14',
 'PythonWorks',
 '16',
 '17',
 'Python',
 '19',
 'Works',
 'Python',
 '22',
 '23',
 'Python',
 'Works',
 '26',
 'Python',
 '28',
 '29',
 'PythonWorks',
 '31',
 '32',
 'Python',
 '34',
 'Works',
 'Python',
 '37',
 '38',
 'Python',
 'Works',
 '41',
 'Python',
 '43',
 '44',
 'PythonWorks',
 '46',
 '47',
 'Python',
 '49',
 'Works',
 'Python',
 '52',
 '53',
 'Python',
 'Works',
 '56',
 'Python',
 '58',
 '59',
 'PythonWorks',
 '61',
 '62',
 'Python',
 '64',
 'Works',
 'Python',
 '67',
 '68',
 'Python',
 'Works',
 '71',
 'Python',
 '73',
 '74',
 'PythonWorks',
 '76',
 '77',
 'Python',
 '79',
 'Works',
 'Python',
 '82',
 '83',
 'Python',
 'Works',
 '86',
 'Python',
 '88',
 '89',
 'PythonWorks',
 '91',
 '92',
 'Python',
 '94',
 'Works',
 'Python',
 '97',
 '98',
 'Python',
 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [121]:
# 2 (With a temporary variable)
def swap(x, y):
    x = str(x)
    y = str(y)
    tmp = x
    x = y
    y = tmp
    return (x, y)
    
x = "hello"
y = 1
 
swap(x, y)

('1', 'hello')

In [120]:
# 2 (Without a temporary variable)
def swap(x, y):
    x = str(x)
    y = str(y)
    x += str(y)
    y = x[0:len(x) - len(y)]
    x = x[len(y):len(x)]
    
    return (x, y)
    
x = "hello"
y = 1
 
swap(x, y)

('1', 'hello')

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [90]:
# 3
def euclidean_distance(u, v):
    d = pow(pow(u[1]-u[0],2) + pow(v[1]-v[0],2),0.5)
    return d

u = (3,0)
v = (0,4)
euclidean_distance(u,v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [106]:
# 4
def counting_letters(s):
    letters = []
    counters = []
    for i in s:
        i = str.lower(i)
        if i not in letters:
            letters.append(i)
            counters.append(1)
        else:
            index = letters.index(i)
            counters[index] += 1
    return letters, counters
            
letters, counters = counting_letters("Today is a sunny day")

for i in range(len(letters)):
    print(letters[i] + " " + str(counters[i]))

t 1
o 1
d 2
a 3
y 3
  4
i 1
s 2
u 1
n 2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [113]:
# 5 (Using user-defined functions)
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def countUniqueNumbers(l):
    unique_numbers = []
    for i in l:
        if i not in unique_numbers:
            unique_numbers.append(i)

    print(unique_numbers)

countUniqueNumbers(l)
print("Number of unique numbers: " + str(len(unique_numbers)))

[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]
Number of unique numbers: 54

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [110]:
# 5 (Using Python data structures)
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

unique_numbers = set(l)
print("Number of unique numbers: " + str(len(unique_numbers)))

Number of unique numbers: 54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [122]:
# 6
def to_square(x):
    return x * x

def to_cube(x):
    return x * x * x

def to_6(x):
    return to_square(x) * to_cube(x) * x

to_6(2)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [124]:
# 7.a
v = range(10)
cubes = []
for i in v:
    cubes.append(pow(i,3))
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [118]:
# 7.b
cubes = [pow(i, 3) for i in range(10)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [63]:
# 8
'''
    This script generates all the Pythagorean triples from 1 to 100, also 
    the non primitive.
'''
            
def gcd(a, b):
 
    if (a == 0 or b == 0): return 0
     
    if (a == b): return a
     
    if (a > b):
        return gcd(a - b, b)
             
    return gcd(a, b - a)

def generate_triple():
    m = 0
    n = 0
    coprimes = []
    pythagorean_triple = []

    for m in range(1,100):
        for n in range(1,100):
            if(2*m*n < 100 and gcd(m,n)==1):
                x = (m,n)
                coprimes.append(x)


    for coprime in coprimes:
        a = pow(coprime[0],2) - pow(coprime[1],2)
        b = 2*coprime[0]*coprime[1]
        c = pow(pow(a,2) + pow(b,2), 1/2)
        if(a>0 and b>0 and c<100):
            triple = (a, b, c)
            pythagorean_triple.append(triple)

    return pythagorean_triple
        
generate_triple()

[(3, 4, 5.0),
 (8, 6, 10.0),
 (5, 12, 13.0),
 (15, 8, 17.0),
 (7, 24, 25.0),
 (24, 10, 26.0),
 (21, 20, 29.0),
 (16, 30, 34.0),
 (9, 40, 41.0),
 (35, 12, 37.0),
 (11, 60, 61.0),
 (48, 14, 50.0),
 (45, 28, 53.0),
 (40, 42, 58.0),
 (33, 56, 65.0),
 (24, 70, 74.0),
 (13, 84, 85.0),
 (63, 16, 65.0),
 (55, 48, 73.0),
 (39, 80, 89.0),
 (80, 18, 82.0),
 (77, 36, 85.0),
 (65, 72, 97.0)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [48]:
# 9
def normalization(numbers):
    norm_numbers = []
    max_number = max(numbers)
    min_number = min(numbers)
    for number in numbers:
        x = (number-min_number)/(max_number-min_number)
        norm_numbers.append(x)
        
    return tuple(i for i in norm_numbers)
        
x = (1, 2, 3, 4)
normalization(x)

(0.0, 0.3333333333333333, 0.6666666666666666, 1.0)