1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [13]:
#a
out_str = ''
for i in range (1, 101):
# Numbers that are divisible by 3 and 5
# are always divisible by 15
# Therefore, "HelloWorld" is printed in place of that number
 if not (i % 3 == 0) and not (i % 5 == 0):
    out_str += str(i)
 if (i % 3 == 0):
    out_str += 'Hello'
 if (i % 3 == 0):
    out_str += 'World'
 out_str +=', '
print(out_str)
print()

#b
out_tuple = tuple(out_str.split(', '))
print(out_tuple)
out= []
for s in out_tuple:
    s = s.replace('Hello','Python')
    s = s.replace('World','Works')
    out.append(s)
print(','.join(out))

1, 2, HelloWorld, 4, , HelloWorld, 7, 8, HelloWorld, , 11, HelloWorld, 13, 14, HelloWorld, 16, 17, HelloWorld, 19, , HelloWorld, 22, 23, HelloWorld, , 26, HelloWorld, 28, 29, HelloWorld, 31, 32, HelloWorld, 34, , HelloWorld, 37, 38, HelloWorld, , 41, HelloWorld, 43, 44, HelloWorld, 46, 47, HelloWorld, 49, , HelloWorld, 52, 53, HelloWorld, , 56, HelloWorld, 58, 59, HelloWorld, 61, 62, HelloWorld, 64, , HelloWorld, 67, 68, HelloWorld, , 71, HelloWorld, 73, 74, HelloWorld, 76, 77, HelloWorld, 79, , HelloWorld, 82, 83, HelloWorld, , 86, HelloWorld, 88, 89, HelloWorld, 91, 92, HelloWorld, 94, , HelloWorld, 97, 98, HelloWorld, ,

('1', '2', 'HelloWorld', '4', '', 'HelloWorld', '7', '8', 'HelloWorld', '', '11', 'HelloWorld', '13', '14', 'HelloWorld', '16', '17', 'HelloWorld', '19', '', 'HelloWorld', '22', '23', 'HelloWorld', '', '26', 'HelloWorld', '28', '29', 'HelloWorld', '31', '32', 'HelloWorld', '34', '', 'HelloWorld', '37', '38', 'HelloWorld', '', '41', 'HelloWorld', '43', '44', 'HelloWorld', '46', '47', 'HelloWorld', '49', '', 'HelloWorld', '52', '53', 'HelloWorld', '', '56', 'HelloWorld', '58', '59', 'HelloWorld', '61', '62', 'HelloWorld', '64', '', 'HelloWorld', '67', '68', 'HelloWorld', '', '71', 'HelloWorld', '73', '74', 'HelloWorld', '76', '77', 'HelloWorld', '79', '', 'HelloWorld', '82', '83', 'HelloWorld', '', '86', 'HelloWorld', '88', '89', 'HelloWorld', '91', '92', 'HelloWorld', '94', '', 'HelloWorld', '97', '98', 'HelloWorld', '', '')
1,2,PythonWorks,4,,PythonWorks,7,8,PythonWorks,,11,PythonWorks,13,14,PythonWorks,16,17,PythonWorks,19,,PythonWorks,22,23,PythonWorks,,26,PythonWorks,28,29,PythonWorks,31,32,PythonWorks,34,,PythonWorks,37,38,PythonWorks,,41,PythonWorks,43,44,PythonWorks,46,47,PythonWorks,49,,PythonWorks,52,53,PythonWorks,,56,PythonWorks,58,59,PythonWorks,61,62,PythonWorks,64,,PythonWorks,67,68,PythonWorks,,71,PythonWorks,73,74,PythonWorks,76,77,PythonWorks,79,,PythonWorks,82,83,PythonWorks,,86,PythonWorks,88,89,PythonWorks,91,92,PythonWorks,94,,PythonWorks,97,98,PythonWorks,,

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [18]:
def swap1(x,y):
    temp = x
    x = y
    y = temp
    return x,y
def swap2(x,y):
    return y,x
    
x = 14
y = 25
# To take inputs from the user
#x = input('Enter value of x:')
#y = input('Enter value of y:')
#Create a temporary variable and swap the values
print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 14
The value of y after swapping: 25

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [19]:
def distance(u: tuple, v: tuple):
    dist = 0
    for i in range(len(u)):
        dist += (u[i]-v[i])**2
    return dist**.5
u = (3,0)
v = (0,4)
print(distance(u, v))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [21]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

In [22]:
letters_freq = {}
for c in s.lower():
    letters_freq.setdefault(c,0)
    letters_freq[c] += 1
    
for char,count in letters_freq.items():
    print(char, ':', count)

w : 4
r : 19
i : 12
t : 19
e : 20
  : 41
a : 7
p : 8
o : 15
g : 1
m : 8
h : 11
n : 10
s : 7
u : 7
b : 5
f : 10
1 : 2
0 : 2
. : 3
l : 12
d : 5
v : 2
c : 1

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [23]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [37]:
def unique(l: list):
    l.sort()
    empty_list = []
    count = 0
    for ele in input_list:
        if(ele not in empty_list):
            count += 1
            empty_list.append(ele)
print("Unique items are:",np.unique(input_list))
print("Count of unique items are:",len(np.unique(input_list)))

Unique items are: [ 1  3  5  8  9 10 16 18 19 20 24 30 31 33 34 36 37 39 41 42 45 47 50 51
 53 54 55 56 57 58 63 64 66 70 72 74 75 79 81 82 84 85 86 87 88 89 90 91
 92 94 95 96 98 99]
Count of unique items are: 54

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [39]:
unique = list(set(l))
print(f'There are {len(unique)} unique numbers: {unique}')

There are 54 unique numbers: [1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [42]:
def square(a):
    return a**2
def cube(a):
    return a**3
def sixth_power(a):
    return cube(square(a))
x=47
print(sixth_power(47))

10779215329

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [43]:
#a.for loop
cubes = []
for n in range(0,11):
    cubes.append(cube(n))
print(cubes)

#b.list comprehension
cubes = [cube(n) for n in range(0,11)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [44]:
lim = 100
pytha_triples = [(a,b,c) for a in range(1,lim+1) for b in range(a,lim+1) for c in range(1,lim+1) if a**2 + b**2 == c**2]
print(pytha_triples)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [47]:
samples = [2, 4, 10, 8, 4]
def normalize_max(samples: tuple):
    return tuple([s/ max(samples) for s in samples])
def normalize_norm(numbers: tuple):
    norm = sum([s**2 for s in samples])**.5
    return tuple([s/ norm for s in samples])
print(normalize_max(samples))
print(normalize_norm(samples))

(0.2, 0.4, 1.0, 0.8, 0.4)
(0.1414213562373095, 0.282842712474619, 0.7071067811865475, 0.565685424949238, 0.282842712474619)