1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

i5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [5]:
#for 1. question
s = list()


for a in range (1,101): 
    if (a%15==0):
        print ("helloworld")
        s.append("pythonWorks")
    elif (a%3==0):
        print ("hello")
        s.append("python")
    elif (a%5==0):
        print ("world",'\n')
        s.append("works")
    else :
        print (a)
        s.append(a)

myTuple = tuple(s)
print (myTuple)

def swapFunction(x,y): #Swap function
    holder = x
    y = x
    x = holder

1
2
hello
4
world

hello
7
8
hello
world

11
hello
13
14
helloworld
16
17
hello
19
world

hello
22
23
hello
world

26
hello
28
29
helloworld
31
32
hello
34
world

hello
37
38
hello
world

41
hello
43
44
helloworld
46
47
hello
49
world

hello
52
53
hello
world

56
hello
58
59
helloworld
61
62
hello
64
world

hello
67
68
hello
world

71
hello
73
74
helloworld
76
77
hello
79
world

hello
82
83
hello
world

86
hello
88
89
helloworld
91
92
hello
94
world

hello
97
98
hello
world

(1, 2, 'python', 4, 'works', 'python', 7, 8, 'python', 'works', 11, 'python', 13, 14, 'pythonWorks', 16, 17, 'python', 19, 'works', 'python', 22, 23, 'python', 'works', 26, 'python', 28, 29, 'pythonWorks', 31, 32, 'python', 34, 'works', 'python', 37, 38, 'python', 'works', 41, 'python', 43, 44, 'pythonWorks', 46, 47, 'python', 49, 'works', 'python', 52, 53, 'python', 'works', 56, 'python', 58, 59, 'pythonWorks', 61, 62, 'python', 64, 'works', 'python', 67, 68, 'python', 'works', 71, 'python', 73, 74, 'pythonWorks', 76, 77, 'python', 79, 'works', 'python', 82, 83, 'python', 'works', 86, 'python', 88, 89, 'pythonWorks', 91, 92, 'python', 94, 'works', 'python', 97, 98, 'python', 'works')

In [15]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
def unique(l):
    unique_list = []
    for a in l:
        if a not in unique_list:
              unique_list.append(a)
    print( unique_list,'\n\n');
unique(l)

#Do the same without using user-defined functions, but exploiting only the Python data structures.
#OTHER WAY
###########################second way ##########################################
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
used = set()
unique = [x for x in l if x not in used and (used.add(x) or True)]
print(unique)

[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]


[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]

Do the same without using user-defined functions, but exploiting only the Python data structures.

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [19]:
#for 3.question 
import math
print("write the first point")
a1,b1 = map(int, input().split())
print("write the second point")
a2, b2 = map(int, input().split())
sol = math.sqrt((a2-a1)**2 + (b2-b1)**2)
print(" euc distance " + str(sol))

write the first point
5 4
write the second point
6 8
 euc distance 4.123105625617661

In [25]:
#for 4.question
import collections
string=input("enter text; ")
conclusion  = collections.Counter(string.lower())
print(conclusion )

enter text; everything will be okay
Counter({'e': 3, ' ': 3, 'y': 2, 'i': 2, 'l': 2, 'v': 1, 'r': 1, 't': 1, 'h': 1, 'n': 1, 'g': 1, 'w': 1, 'b': 1, 'o': 1, 'k': 1, 'a': 1})

In [40]:
#for 6.question
import math 

def cube(number): 
    number=math.pow(number, 5)
    return number;
def square(number):
    number=math.pow(number,6)
    return number
def sixth_power(number):
    number=number*cube(number)*square(number)
    print ("sixth power:",number)


a=int(input("enter a number for cube,square and sixth power: "));
cube(a)
print("cube:",cube(a))
square(a)
print ("square",square(a))
sixth_power(a)

enter a number for cube,square and sixth power: 2
cube: 32.0
square 64.0
sixth power: 4096.0

In [44]:
#for 7.question
A=[0,1, 2, 3, 4,5,6,7,8,9,10]
cubes=[pow(a, 3) for a in A]
print(cubes,'\n')
A=[0,1, 2, 3, 4,5,6,7,8,9,10]
cubes= []
for a in A:
    cubes.append(pow(a, 3))
print(" list comprehension:",cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

 list comprehension: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [51]:
# for 8.question
def pythagorean_triplets(limits) :
    c, k = 0, 2
    while c < limits :
        for n in range(1, k) :
            a =k * k - n * n
            b = 2 * k * n
            c= k * k + n * n
            if c > limits :
                break
            print(a, b, c)
        k = k + 1  
if __name__ == '__main__' :

    limit=int(input("give an number calculate pythagorean to limit: "))
    pythagorean_triplets(limit)

Enter a number for limit to calculate pythagorean: 100
3 4 5
8 6 10
5 12 13
15 8 17
12 16 20
7 24 25
24 10 26
21 20 29
16 30 34
9 40 41
35 12 37
32 24 40
27 36 45
20 48 52
11 60 61
48 14 50
45 28 53
40 42 58
33 56 65
24 70 74
13 84 85
63 16 65
60 32 68
55 48 73
48 64 80
39 80 89
28 96 100

In [65]:
#for 9. question
info=[9,3,11,6,7,4]
cmin,cmax = min(info), max(info)
for a,sign in enumerate(info):
    info[a]=(sign-cmin)/(cmax-cmin)
print("info:",info)

info: [0.75, 0.0, 1.0, 0.375, 0.5, 0.125]