In [28]:
for i in range(1,100) : 
    if(i % 15 == 0) :
        print ('HelloWorld') 
    elif  (i % 5 == 0) :
        print ('World') 
    elif  (i % 3 == 0) :
        print ('Hello')       
    else :
        print (i)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello

In [47]:
def EX01_Q1B():
    myList = []
    for i in range(1,100):
        if i % 3 == 0 and i % 5 == 0 : 
                j = "HelloWorld"
                myList.append(j)
        elif i % 3 == 0:
                j = "Hello"
                myList.append(j)
        elif i % 5 == 0:
                j = "World"
                myList.append(j)
        else:
                j = i
                myList.append(j)
    replacements = {'Hello':'Python', 'World':'Works'}
    replacer = replacements.get
    myTuple = tuple([replacer(n, n) for n in myList])
    print (myTuple)
EX01_Q1B()

(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'HelloWorld', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'HelloWorld', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'HelloWorld', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'HelloWorld', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'HelloWorld', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'HelloWorld', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python')

In [29]:
x = 1
y = 5
temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 5
The value of y after swapping: 1

In [50]:
def euclide():
    
    euclide_list = []
    for x in range(1,100):
        for y in range(1,100):
            for z in range(1,100):
                if z**2==x**2+y**2:
                    euclide_list.append([x,y,z])
    return euclide_list
    print (euclide_list)
euclide()

[[3, 4, 5],
 [4, 3, 5],
 [5, 12, 13],
 [6, 8, 10],
 [7, 24, 25],
 [8, 6, 10],
 [8, 15, 17],
 [9, 12, 15],
 [9, 40, 41],
 [10, 24, 26],
 [11, 60, 61],
 [12, 5, 13],
 [12, 9, 15],
 [12, 16, 20],
 [12, 35, 37],
 [13, 84, 85],
 [14, 48, 50],
 [15, 8, 17],
 [15, 20, 25],
 [15, 36, 39],
 [16, 12, 20],
 [16, 30, 34],
 [16, 63, 65],
 [18, 24, 30],
 [18, 80, 82],
 [20, 15, 25],
 [20, 21, 29],
 [20, 48, 52],
 [21, 20, 29],
 [21, 28, 35],
 [21, 72, 75],
 [24, 7, 25],
 [24, 10, 26],
 [24, 18, 30],
 [24, 32, 40],
 [24, 45, 51],
 [24, 70, 74],
 [25, 60, 65],
 [27, 36, 45],
 [28, 21, 35],
 [28, 45, 53],
 [30, 16, 34],
 [30, 40, 50],
 [30, 72, 78],
 [32, 24, 40],
 [32, 60, 68],
 [33, 44, 55],
 [33, 56, 65],
 [35, 12, 37],
 [35, 84, 91],
 [36, 15, 39],
 [36, 27, 45],
 [36, 48, 60],
 [36, 77, 85],
 [39, 52, 65],
 [39, 80, 89],
 [40, 9, 41],
 [40, 30, 50],
 [40, 42, 58],
 [40, 75, 85],
 [42, 40, 58],
 [42, 56, 70],
 [44, 33, 55],
 [45, 24, 51],
 [45, 28, 53],
 [45, 60, 75],
 [48, 14, 50],
 [48, 20, 52],
 [48, 36, 60],
 [48, 55, 73],
 [48, 64, 80],
 [51, 68, 85],
 [52, 39, 65],
 [54, 72, 90],
 [55, 48, 73],
 [56, 33, 65],
 [56, 42, 70],
 [57, 76, 95],
 [60, 11, 61],
 [60, 25, 65],
 [60, 32, 68],
 [60, 45, 75],
 [60, 63, 87],
 [63, 16, 65],
 [63, 60, 87],
 [64, 48, 80],
 [65, 72, 97],
 [68, 51, 85],
 [70, 24, 74],
 [72, 21, 75],
 [72, 30, 78],
 [72, 54, 90],
 [72, 65, 97],
 [75, 40, 85],
 [76, 57, 95],
 [77, 36, 85],
 [80, 18, 82],
 [80, 39, 89],
 [84, 13, 85],
 [84, 35, 91]]

In [48]:
def orn4(myString):
    myString = myString.lower()
    output = {x : myString.count(x) for x in set(myString)}
    print (output)
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
orn4(s)

{' ': 41, 'o': 15, 'v': 2, 'm': 8, '1': 2, 'f': 10, 'p': 8, 'b': 5, '0': 2, 'd': 5, 'r': 19, 'a': 7, 'g': 1, 'w': 4, 'h': 11, 'n': 10, 's': 7, '.': 3, 'l': 12, 'e': 20, 'c': 1, 'u': 7, 't': 19, 'i': 12}

In [86]:
def get_unique_values_with_for_loop(values):
    unique_values = []

    for value in values:
        if value not in unique_values:
            unique_values.append(value)

    return unique_values
numbers = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
unique_values = get_unique_values_with_for_loop(numbers)
number_of_unique_values = len(unique_values)
print("The list of unique values is: {}".format(unique_values))
print("The number of unique values is: {}".format(number_of_unique_values))

The list of unique values is: [36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]
The number of unique values is: 54

In [49]:
def orn6sq(x): 
    print (x**2)
    return x**2

def orn6cb(x): 
    print (x**3)
    return x**3
    
def orn6pwr(x):
    out = EX01_Q6_square(x) * EX01_Q6_cube(x)
    print(out)

orn6pwr(2)

4
8
32

In [50]:
def orn7a():
    cubeList = []
    for i in range(0,10):
        cubeList.append(i**3)
    print(cubeList)

orn7a()

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [52]:
def orn8():
    myList = []
    for x in range (1,100):
        for y in range (1,100):
            for z in range (1,100):
                if x**2 == y**2+z**2:
                    myList.append([a,b,c])
    print (myList)
orn8()

[[5, 3, 4], [5, 4, 3], [10, 6, 8], [10, 8, 6], [13, 5, 12], [13, 12, 5], [15, 9, 12], [15, 12, 9], [17, 8, 15], [17, 15, 8], [20, 12, 16], [20, 16, 12], [25, 7, 24], [25, 15, 20], [25, 20, 15], [25, 24, 7], [26, 10, 24], [26, 24, 10], [29, 20, 21], [29, 21, 20], [30, 18, 24], [30, 24, 18], [34, 16, 30], [34, 30, 16], [35, 21, 28], [35, 28, 21], [37, 12, 35], [37, 35, 12], [39, 15, 36], [39, 36, 15], [40, 24, 32], [40, 32, 24], [41, 9, 40], [41, 40, 9], [45, 27, 36], [45, 36, 27], [50, 14, 48], [50, 30, 40], [50, 40, 30], [50, 48, 14], [51, 24, 45], [51, 45, 24], [52, 20, 48], [52, 48, 20], [53, 28, 45], [53, 45, 28], [55, 33, 44], [55, 44, 33], [58, 40, 42], [58, 42, 40], [60, 36, 48], [60, 48, 36], [61, 11, 60], [61, 60, 11], [65, 16, 63], [65, 25, 60], [65, 33, 56], [65, 39, 52], [65, 52, 39], [65, 56, 33], [65, 60, 25], [65, 63, 16], [68, 32, 60], [68, 60, 32], [70, 42, 56], [70, 56, 42], [73, 48, 55], [73, 55, 48], [74, 24, 70], [74, 70, 24], [75, 21, 72], [75, 45, 60], [75, 60, 45], [75, 72, 21], [78, 30, 72], [78, 72, 30], [80, 48, 64], [80, 64, 48], [82, 18, 80], [82, 80, 18], [85, 13, 84], [85, 36, 77], [85, 40, 75], [85, 51, 68], [85, 68, 51], [85, 75, 40], [85, 77, 36], [85, 84, 13], [87, 60, 63], [87, 63, 60], [89, 39, 80], [89, 80, 39], [90, 54, 72], [90, 72, 54], [91, 35, 84], [91, 84, 35], [95, 57, 76], [95, 76, 57], [97, 65, 72], [97, 72, 65]]

In [54]:
def orn9(myTuple):
    minValue = min(myTuple)
    maxValue = max(myTuple)
    normalizedValueList = ()
    for i in range(len(myTuple)):
        normalizedValue = (myTuple[i]-minValue)/(maxValue-minValue)
        normalizedValueList = normalizedValueList + (normalizedValue,)
    print (normalizedValueList)
               
orn9((1,2,3))

(0.0, 0.5, 1.0)