1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [35]:
list1=[]
for i in range(1,100):
    if i%15 == 0: #if divided by 15 
        i = "HelloWorld"  
    elif i%5 == 0:  #if divided by 5
        i = "World"
    elif i%3==0: #if divided by 3
            i="Hello"
    list1.append(i)     
    
print(list1)

#b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".
list_2_tuple= tuple(list1)

for x in range(1,99):
    if list1[x] == "Hello":
        list1[x] ="Python"
    elif list1[x] == "World":
         list1[x] ="Works"
    elif list1[x] == "HelloWorld":
         list1[x] ="PythonWorks"        

list_2_tuple2= tuple(list1)
    
    
print(list_2_tuple2)
print(type(list_2_tuple2))

[1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'HelloWorld', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'HelloWorld', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'HelloWorld', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'HelloWorld', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'HelloWorld', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'HelloWorld', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello']
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python')
<class 'tuple'>

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [36]:
def swap_func(x,y): #swap function
    temp_var = x #swap variable
    x = y
    y = temp_var
    print("x is ", x)
    print("y is ", y)
    
swap_func(5.5,-10)

x is  -10
y is  5.5

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [37]:
import math
def comp_distance(u,v):
    eql = u[0] ** 2 + v[1] ** 2 #compute the equation
    res = math.sqrt(eql) #square root of the equation
    return(res) #return to result
#define variables
u = (3,0)
print(type(u))
v = (0,4)
print(type(v))

comp_distance(u,v) #call the function

<class 'tuple'>
<class 'tuple'>

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [38]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

s = s.lower()
freq_char = {}
  
for i in s:
    if i in freq_char:
        freq_char[i] += 1 #increase the character when you see it.
    else:
        freq_char[i] = 1 #else it is only equals to 1
  
# printing result 
print (str(freq_char))

{'w': 4, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 11, 'n': 10, 's': 7, 'u': 7, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 3, 'l': 12, 'd': 5, 'v': 2, 'c': 1}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [39]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def uniq_num(list):
    l1 = []
    count = 0
    for item in list:
        if item not in l1:
            count += 1
            l1.append(item)
    # printing the output
    print("No of unique items are:", count)
  
uniq_num(l)

No of unique items are: 54

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [40]:
l_2 = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
     85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
     1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
     45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]  
count2 = 0
l2 = []
for item2 in l_2:
    if item2 not in l2:
        count2 += 1
        l2.append(item2)
# printing the output
print("No of unique items are:", count2)

No of unique items are: 54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [41]:
def sq_num(x): #square function
    x = x ** 2
    return x

def cub_num(y): #cube function
    y = y ** 3
    return y

def sixth_pow(z): #sixth power function
    return sq_num(z) * cub_num(z) * z
x=3
print("Square of",x,":",sq_num(x))
print("Cube of",x,":",cub_num(x))
print("Sixth power of",x,":",sixth_pow(x))

Square of 3 : 9
Cube of 3 : 27
Sixth power of 3 : 729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [42]:
list_cube=[ ]
#a) a for loop
print("For Loop:")
for i in range(0,11):
    i = i ** 3
    list_cube.append(i)
print(list_cube)

#b) a list comprehension
print("List Compherension:")
cube_num = [i * i * i for i in range(11)]
print(cube_num)

For Loop:
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
List Compherension:
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [43]:
def pythagoreanTriplets(limits) :
    c, m = 0, 2
    list1=[ ]
    while c < limits :
        for n in range(1, m) :
            a = m * m - n * n
            b = 2 * m * n
            c = m * m + n * n
 
            if c > limits :
                break
            
            list1.append(a)
            list1.append(b)
            list1.append(c)
        m = m + 1
        
    to_tup = tuple(list1)
    print(type(to_tup))
    print(to_tup)


limit = 100
pythagoreanTriplets(limit)

<class 'tuple'>
(3, 4, 5, 8, 6, 10, 5, 12, 13, 15, 8, 17, 12, 16, 20, 7, 24, 25, 24, 10, 26, 21, 20, 29, 16, 30, 34, 9, 40, 41, 35, 12, 37, 32, 24, 40, 27, 36, 45, 20, 48, 52, 11, 60, 61, 48, 14, 50, 45, 28, 53, 40, 42, 58, 33, 56, 65, 24, 70, 74, 13, 84, 85, 63, 16, 65, 60, 32, 68, 55, 48, 73, 48, 64, 80, 39, 80, 89, 28, 96, 100)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [44]:
def normalization(raw):
    norm = [float(i)/sum(raw) for i in raw]
    return norm


its_tuple = (5,10,5,20)
print(type(its_tuple))
normalization(its_tuple)

<class 'tuple'>

[0.125, 0.25, 0.125, 0.5]