1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [7]:
tup=()

for i in range (1,101):
    if i%3==0:
        next="Hello"
        if i%5==0:
            next="HelloWorld"
    elif i%5==0:
        next="World"
    else:
        next=i
    tup+=(next,)
    
print(tup)

l = list(tup)
for i in range (100):
    if isinstance(l[i], str):
        l[i]=l[i].replace("Hello","Python")
        l[i]=l[i].replace("World","Works")
tup_change= tuple(l)

print(tup_change)

(1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'HelloWorld', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'HelloWorld', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'HelloWorld', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'HelloWorld', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'HelloWorld', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'HelloWorld', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World')
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [23]:
def swap(x,y):
    x,y=y,x
    return x,y

x=42
y="trololo"
print(swap(x,y))

('trololo', 42)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [13]:
import math

def distance(u,v):
    return(math.sqrt((u[0]-v[0])**2+(u[1]-v[1])**2))

print(distance((3,0),(0,4)))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [14]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

s_char=[]
s_count=[]

for x in s.lower():
    if not(x in s_char):
        s_char.append(x)
        s_count.append(s.lower().count(x))
        print("Number of occurrence of ", x,": " ,s.lower().count(x))

Number of occurrence of  w :  4
Number of occurrence of  r :  19
Number of occurrence of  i :  12
Number of occurrence of  t :  19
Number of occurrence of  e :  20
Number of occurrence of    :  41
Number of occurrence of  a :  7
Number of occurrence of  p :  8
Number of occurrence of  o :  15
Number of occurrence of  g :  1
Number of occurrence of  m :  8
Number of occurrence of  h :  11
Number of occurrence of  n :  10
Number of occurrence of  s :  7
Number of occurrence of  u :  7
Number of occurrence of  b :  5
Number of occurrence of  f :  10
Number of occurrence of  1 :  2
Number of occurrence of  0 :  2
Number of occurrence of  . :  3
Number of occurrence of  l :  12
Number of occurrence of  d :  5
Number of occurrence of  v :  2
Number of occurrence of  c :  1

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [16]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def count(l,x):
    i=0
    for y in l:
        if x==y:
            i+=1
    return i

print("Number of 42 in l: ", count(l,42))

Number of 42 in l:  2

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [18]:
print("Number of 42 in l: ", l.count(42))

Number of 42 in l:  2

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [19]:
def square(x):
    return x**2

def cube(x):
    return x**3

def power6(x):
    return(square(cube(x)))

print (2,square(2),cube(2),power6(2))

2 4 8 64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [20]:
l_cube=[]

for i in range(10):
    l_cube.append(i**3)
    
print (l_cube)

l_cube=[x**3 for x in range(10)]

print (l_cube)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [21]:
import math

for a in range(1,101):
    for b in range(1,a+1):
        c=math.sqrt(a**2+b**2)
        if c<=100 and c//1==c:
            print (a,b,int(c),"is a Pythagorean triple")

4 3 5 is a Pythagorean triple
8 6 10 is a Pythagorean triple
12 5 13 is a Pythagorean triple
12 9 15 is a Pythagorean triple
15 8 17 is a Pythagorean triple
16 12 20 is a Pythagorean triple
20 15 25 is a Pythagorean triple
21 20 29 is a Pythagorean triple
24 7 25 is a Pythagorean triple
24 10 26 is a Pythagorean triple
24 18 30 is a Pythagorean triple
28 21 35 is a Pythagorean triple
30 16 34 is a Pythagorean triple
32 24 40 is a Pythagorean triple
35 12 37 is a Pythagorean triple
36 15 39 is a Pythagorean triple
36 27 45 is a Pythagorean triple
40 9 41 is a Pythagorean triple
40 30 50 is a Pythagorean triple
42 40 58 is a Pythagorean triple
44 33 55 is a Pythagorean triple
45 24 51 is a Pythagorean triple
45 28 53 is a Pythagorean triple
48 14 50 is a Pythagorean triple
48 20 52 is a Pythagorean triple
48 36 60 is a Pythagorean triple
52 39 65 is a Pythagorean triple
55 48 73 is a Pythagorean triple
56 33 65 is a Pythagorean triple
56 42 70 is a Pythagorean triple
60 11 61 is a Pythagorean triple
60 25 65 is a Pythagorean triple
60 32 68 is a Pythagorean triple
60 45 75 is a Pythagorean triple
63 16 65 is a Pythagorean triple
63 60 87 is a Pythagorean triple
64 48 80 is a Pythagorean triple
68 51 85 is a Pythagorean triple
70 24 74 is a Pythagorean triple
72 21 75 is a Pythagorean triple
72 30 78 is a Pythagorean triple
72 54 90 is a Pythagorean triple
72 65 97 is a Pythagorean triple
75 40 85 is a Pythagorean triple
76 57 95 is a Pythagorean triple
77 36 85 is a Pythagorean triple
80 18 82 is a Pythagorean triple
80 39 89 is a Pythagorean triple
80 60 100 is a Pythagorean triple
84 13 85 is a Pythagorean triple
84 35 91 is a Pythagorean triple
96 28 100 is a Pythagorean triple

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [22]:
tup=(0,2,10,6)

def normalized(tup):
    tup_normal=()
    m=max(tup)
    for i in tup:
        tup_normal+=(i/m,)
    return tup_normal
    
print(normalized(tup))

(0.0, 0.2, 1.0, 0.6)