1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [2]:
#1. HelloWorld Replacement
#1A:
for i in range(1,101):  #returns i , 1 to 100
    if i%3 == 0 and i%5 == 0:  # when i multiple of 15
        print("HelloWorld")
    elif i%5 == 0: #when i multiple of 5
        print("World")
    elif i%3 == 0: #when i multiple of 3
        print("Hello")
    else:
        print(i)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World

In [23]:
#1B In this time i tried to make a function to append items to list then it will return it to a tuple.
def hello_world(x,n):
    liste=[]
    for i in range(x,n+1):  #returns i , x to n
        if i%3 == 0 and i%5 == 0:  # when i multiple of 15
            liste.append("HelloWorld")
        elif i%5 == 0: #when i multiple of 5
            liste.append("World")
        elif i%3 == 0: #when i multiple of 3
            liste.append("Hello")
        else:
            liste.append(i)
    return tuple(liste) #turned tuple
tuple_2 = hello_world(1,100) #here is the tuple.
#now we can swap items but tuple is ummutable so we need to convert it to list than we can do the substitution
tuple_2 = list(tuple_2)

for i in range(len(tuple_2)):
#     print(tuple_2[i])
    if tuple_2[i] == "HelloWorld":
        tuple_2[i] = "PythonWorks"
    if tuple_2[i] == "World":
        tuple_2[i] = "Works"
    if tuple_2[i] == "Hello":
        tuple_2[i] = "Python"
        
tuple_2 = tuple(tuple_2) #convert it to tuple


print(tuple_2)

(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [26]:
def swap_func(x,y):
    x,y = y,x  #x = y ; y = x swaps the values without temporary variable.
    return x,y


print(swap_func("4",5))

(5, '4')

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [24]:
def euclidean_distance(t1,t2):
    (x,y) = t1   #seperating the coordinates x,y so that we can compute easier
    (x2,y2) = t2
    return ((x2-x)**2+(y2-y)**2)**(1/2) 


print(euclidean_distance((0,0),(3,4)))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [30]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

def char_counter(string):
    charlist = []  #empty list we are going to fill them with unique characters
    countchar = {} #empty dictionary we are going to fill this with the count of characters
    
    string = string.lower() #to ignore differences in capitalization we need make all lowercase
    
    for i in range(len(string)):  #for every character in the string
        if string[i] not in charlist: #if a character unique for the charlist
            charlist.append(string[i]) #we are going to append it to the charlist
            
        elif string[i] in charlist: #if it is not unique we do nothing
            pass
        
    for i in range(len(charlist)): #for every char in list
        countchar[charlist[i]] = string.count(string[i]) #for every char in list it will make the list item = key, 
                                                         #value = count of the char
                                                        # count() method just counts the char in a list
            
    return  countchar

char_counter(s)

{'w': 4,
 'r': 19,
 'i': 12,
 't': 19,
 'e': 20,
 ' ': 41,
 'a': 7,
 'p': 41,
 'o': 8,
 'g': 19,
 'm': 15,
 'h': 1,
 'n': 19,
 's': 7,
 'u': 8,
 'b': 41,
 'f': 19,
 '1': 11,
 '0': 7,
 '.': 19,
 'l': 41,
 'd': 8,
 'v': 19,
 'c': 12}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [35]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unique_isolator(arr):
    tem = [] #temp list, this will be used for append the unique numbers
    for item in arr: 
        if item not in tem: #if there is a new number it appends it to list
            tem.append(item)
    return len(tem) ,tem

print("Unique number count of the list: "+str(unique_isolator(l)[0]))
print("New list: "+str(unique_isolator(l)[1]))

Unique number count of the list: 54
New list: [36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [41]:
print("Unique number count of the list: "+str(len(set(l)))) #this can be done with using sets

#print(len(set(l)))
print("         ")
print("New list: "+str(list(set(l)))) #make it set then make it list again

Unique number count of the list: 54

New list: [1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [42]:
def square(n):
    return n**2 #f(x) = x**2


def cube(n):   #g(x) = x**3
    return n**3


def six_power(n): # gof(x) = x*6
    return cube(square(n)) #this is fog(x)

six_power(2)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [35]:
#a) for loop
list_1 = []
for i in range(1,11):
    list_1.append(i**2)
print(list_1)

#b) list comprehension
list_2 = [i**2 for i in range(1,11)]
print(list_2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [44]:
[(a,b,c) for c in range(1,101) for b in range(1,101) for a in range(1,101) if a**2+b**2==c**2]

[(4, 3, 5),
 (3, 4, 5),
 (8, 6, 10),
 (6, 8, 10),
 (12, 5, 13),
 (5, 12, 13),
 (12, 9, 15),
 (9, 12, 15),
 (15, 8, 17),
 (8, 15, 17),
 (16, 12, 20),
 (12, 16, 20),
 (24, 7, 25),
 (20, 15, 25),
 (15, 20, 25),
 (7, 24, 25),
 (24, 10, 26),
 (10, 24, 26),
 (21, 20, 29),
 (20, 21, 29),
 (24, 18, 30),
 (18, 24, 30),
 (30, 16, 34),
 (16, 30, 34),
 (28, 21, 35),
 (21, 28, 35),
 (35, 12, 37),
 (12, 35, 37),
 (36, 15, 39),
 (15, 36, 39),
 (32, 24, 40),
 (24, 32, 40),
 (40, 9, 41),
 (9, 40, 41),
 (36, 27, 45),
 (27, 36, 45),
 (48, 14, 50),
 (40, 30, 50),
 (30, 40, 50),
 (14, 48, 50),
 (45, 24, 51),
 (24, 45, 51),
 (48, 20, 52),
 (20, 48, 52),
 (45, 28, 53),
 (28, 45, 53),
 (44, 33, 55),
 (33, 44, 55),
 (42, 40, 58),
 (40, 42, 58),
 (48, 36, 60),
 (36, 48, 60),
 (60, 11, 61),
 (11, 60, 61),
 (63, 16, 65),
 (60, 25, 65),
 (56, 33, 65),
 (52, 39, 65),
 (39, 52, 65),
 (33, 56, 65),
 (25, 60, 65),
 (16, 63, 65),
 (60, 32, 68),
 (32, 60, 68),
 (56, 42, 70),
 (42, 56, 70),
 (55, 48, 73),
 (48, 55, 73),
 (70, 24, 74),
 (24, 70, 74),
 (72, 21, 75),
 (60, 45, 75),
 (45, 60, 75),
 (21, 72, 75),
 (72, 30, 78),
 (30, 72, 78),
 (64, 48, 80),
 (48, 64, 80),
 (80, 18, 82),
 (18, 80, 82),
 (84, 13, 85),
 (77, 36, 85),
 (75, 40, 85),
 (68, 51, 85),
 (51, 68, 85),
 (40, 75, 85),
 (36, 77, 85),
 (13, 84, 85),
 (63, 60, 87),
 (60, 63, 87),
 (80, 39, 89),
 (39, 80, 89),
 (72, 54, 90),
 (54, 72, 90),
 (84, 35, 91),
 (35, 84, 91),
 (76, 57, 95),
 (57, 76, 95),
 (72, 65, 97),
 (65, 72, 97),
 (96, 28, 100),
 (80, 60, 100),
 (60, 80, 100),
 (28, 96, 100)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [72]:
tup1=(2,3,4,5,6)
max(tup1)
def normalize_tup(tup):
    tup2=[] 
    for i in range(len(tup)):
        tup2.append(tup[i]/sum(tup)) #i normalized it the total sum of the tuple
    return tuple(tup2)

In [73]:
normalize_tup(tup1)

(0.1, 0.15, 0.2, 0.25, 0.3)