1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [1]:
#a
for i in range(1,100):
 if (i%3==0) and (i%5==0) :
     print("Hello world")
 elif i%5==0:
    print("world")
 elif (i%3==0):
    print("Hello")
 else:
    print(i)

1
2
Hello
4
world
Hello
7
8
Hello
world
11
Hello
13
14
Hello world
16
17
Hello
19
world
Hello
22
23
Hello
world
26
Hello
28
29
Hello world
31
32
Hello
34
world
Hello
37
38
Hello
world
41
Hello
43
44
Hello world
46
47
Hello
49
world
Hello
52
53
Hello
world
56
Hello
58
59
Hello world
61
62
Hello
64
world
Hello
67
68
Hello
world
71
Hello
73
74
Hello world
76
77
Hello
79
world
Hello
82
83
Hello
world
86
Hello
88
89
Hello world
91
92
Hello
94
world
Hello
97
98
Hello

In [2]:
a=[]
for i in range(1,101):
 if (i%3==0) and (i%5==0) :
     a.append("Hello World")
     #print("Hello world")
 elif i%5==0:
     a.append("World")
    #print("world")
 elif (i%3==0):
     a.append("Hello")
    #print("Hello")
 else:
    #print(i)
    a.append(i)
print(a)

[1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'Hello World', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'Hello World', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'Hello World', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'Hello World', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'Hello World', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'Hello World', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World']

In [3]:
#b
for i in range(1,100):
    if a[i]=="World":
        a[i]="Works"
    elif a[i]=="Hello":
        a[i]="Python"
    elif a[i]=="Hello World":
        a[i]= "Python Works"
print(a)
x=tuple(a)
print(x)

[1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'Python Works', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'Python Works', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'Python Works', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'Python Works', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'Python Works', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'Python Works', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works']
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'Python Works', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'Python Works', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'Python Works', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'Python Works', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'Python Works', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'Python Works', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2.The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [ ]:
#with temporary variable
x = input('Enter the value of x: ')
y = input('Enter the value of y: ')
Temp=x
x=y
y=Temp
print(x)
print(y)

In [ ]:
#Without temporary variable
x = input( "Enter value of x :")
y = input ("Enter value of y :")
def swap_fun(x1,y1):
    global x
    x=y1
    global y
    y=x1
    print(x)
    print(y)

swap_fun(x,y)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [ ]:
(x,y) = input("Enter (x,y) : ")
(a,b) = input("Enter (a,b) : ")
import math
def dis_fun(x,y,a,b):
    distance = math.sqrt((x-a)**2+(a-b)**2)
    return distance
print(dis_fun(x,y,a,b))

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [2]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

In [ ]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s = s.lower()
a = list(s)
for x in list(s):
    print(a.count(x))

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [5]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
unique_list=[]
count=0

for a in l:
    if a not in unique_list:
        unique_list.append(a)
        count+=1


print(unique_list)
print(count)

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [ ]:
x=int(input("Enter a number: "))
squr=x*x
cub=x*x*x
p=squr*cub*x
print(p)

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [ ]:
#a
a=[]
for x in range(11):
    cube=x*x*x
    a.append((cube))
print(a)

In [ ]:
#b
newlist=[x*x*x  for x in range(11)]

print(newlist)

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [ ]:
q = []
for a in range(1, 100):
    for b in range(1, 100):
        for c in range(1, 100):
            if c ** 2 == a ** 2 + b ** 2:
                if a < b:
                    q.append([a, b, c])

print(q)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [ ]:
a=[1,2,1]
norm=[float(i)/sum(a) for i in a]
print(norm)