This exercise consists in analyzing a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a pair of FPGAs. Each measurement (i.e. each row of the input file) consists of a flag that specifies the type of message ('HEAD', which in this case is always 1), two addresses of the TDC providing the signal ('FPGA' and 'TDC_CHANNEL'), and the timing information ('ORBIT_CNT', 'BX_COUNTER', and 'TDC_MEAS'). Each TDC count corresponds to 25/30 ns, whereas a unit of BX_COUNTER corresponds to 25 ns, and the ORBIT_CNT is increased every 'x' BX_COUNTER. This allows to store the time in a similar way to hours, minutes and seconds.

In [1]:
# If haven't downloaded it yet, please get the data file with wget
#!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ./data/

'wget' n'est pas reconnu en tant que commande interne
ou externe, un programme ex‚cutable ou un fichier de commandes.

1\. Create a Pandas DataFrame reading N rows of the `data/data_000637.txt` dataset. Choose N to be smaller than or equal to the maximum number of rows and larger that 10k (check the documentation).

In [38]:
import pandas as pd

N=14000

file_name = "C:/Users/User/Downloads/data_000637.txt"
data = pd.read_csv(file_name,nrows=N) #if N is bigger than the maximum number of rows this create the DataFrame with the maximum row
data

       HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0         1     0          123  3869200167        2374        26
1         1     0          124  3869200167        2374        27
2         1     0           63  3869200167        2553        28
3         1     0           64  3869200167        2558        19
4         1     0           64  3869200167        2760        25
...     ...   ...          ...         ...         ...       ...
13995     1     1            1  3869200307          37        16
13996     1     0          139  3869200307          41         0
13997     1     0           63  3869200307          34        12
13998     1     1           11  3869200307          32         5
13999     1     0           64  3869200307          33        15

[14000 rows x 6 columns]

2\. Estimate the number of BX in a ORBIT (the value 'x').

In [39]:
x=data['BX_COUNTER'].max()
print("x=",x)

x= 3563

3\. Find out the duration of the data taking in hours, minutes and seconds. You can either make an estimate based on the fraction of the measurements (rows) you read, or perform this check precisely by reading the whole dataset.

In [40]:
from math import floor

#En faite c un timer continue donc faut commencer à 0 (première ligne) mais je crois c pour la q d'après 

data['seconds'] = (data['ORBIT_CNT']+data['BX_COUNTER']/x)*25/(10**9)
data['minutes'] = (data['seconds']/60).apply(floor)
data["hours"] = (data['minutes']/60).apply(floor)
data['seconds'] = data['seconds']%60
data['minutes'] = data['minutes']%60
data

,HEAD,FPGA,TDC_CHANNEL,ORBIT_CNT,BX_COUNTER,TDC_MEAS,seconds,minutes,hours
0,1,0,123,3869200167,2374,26,36.730004,1,0
1,1,0,124,3869200167,2374,27,36.730004,1,0
2,1,0,63,3869200167,2553,28,36.730004,1,0
3,1,0,64,3869200167,2558,19,36.730004,1,0
4,1,0,64,3869200167,2760,25,36.730004,1,0
...,...,...,...,...,...,...,...,...,...
13995,1,1,1,3869200307,37,16,36.730008,1,0
13996,1,0,139,3869200307,41,0,36.730008,1,0
13997,1,0,63,3869200307,34,12,36.730008,1,0
13998,1,1,11,3869200307,32,5,36.730008,1,0
13999,1,0,64,3869200307,33,15,36.730008,1,0

4\. Create a new column with the absolute time in ns (as a combination of the other three columns with timing information) since the beginning of the data acquisition.

5\. Use the `.groupby()` method to find out the noisy channels, i.e. the TDC channels with most counts (print to screen the top 3 and the corresponding counts)

6\. Count the number of non-empty orbits (i.e. the number of orbits with at least one hit). Count also the number of unique orbits with at least one measurement from TDC_CHANNEL=139.

7\. **Optional:** Make two occupancy plots (one for each FPGA), i.e. plot the number of counts per TDC channel